---
layout: page.liquid
title: "What am I doing now?"
description: This is my now page, a page that has an overview of my current life including recent media consumed and any short term goals.
updated: 2025-02-26
eleventyComputed:
  subhead: "Updated: {{ updated | dateReadable }}"
  permalink: "/now/"
related:
  - /about/
  - /uses/
  - /contact/
---
<p>
  This is a <a href="https://nownownow.com/about"><em>now</em></a> page, you can read more about me on the <a
    href="/about/"><em>about</em></a> page or view the online <a href="/activity/"><em>activity</em></a>.
</p>

<p>
  <img src="/images/2025/commute_feb.jpg" alt="February Commute">
</p>

<h2>Currently</h2>
<p>
<ul>
  <li>Living in Hadleigh Suffolk with Lucy and two children; Jack and Maia.</li>
  <li>Head of Development at <a href="https://mackman.co.uk" rel="noopener">Mackman Branding and Marketing Agency</a>.
  </li>
  <li>Enjoying running and cycling with a view to get back into some form of competition in 2025.</li>
  <li>Looking towards 2025 and a return to cycle training.</li>
</ul>
</p>

<h2>Current Focus</h2>
<p>
<ul>
  <li>Training for the <a href="/2025/1/2025-fred-writton/">Fred Whitton Challenge</a>.</li>
  <li>Continue developing this site with <a href="https://indieweb.org/principles">principles</a> in mind.</li>
</ul>
</p>

<h2>Currently Reading</h2>
<ul class="book--list">
{% for book in books.currentlyReading limit: 8 %}
  <li>
    <a rel="noreferrer" target="_blank" href="{{ book.url }}">
      <img src="{{ book.data.cover }}" title="{{ book.data.title | escape | strip_html }}" alt="Cover of {{ book.data.title | escape | strip_html }}" width="120" loading="lazy" class="no-frills">
    </a>
    <p>{{ book.data.title | escape | strip_html }}</p>
  </li>
{% endfor %}
</ul>
<p class="small">View more <a href="/books/">reading</a></p>

<h2>Recently Listened</h2>
<ul class="music--list">
  {% for track in lastfm.recentTracks limit: 8 %}
    <li>
      <a href="{{ track.url }}">
        <img src="{{ track.data.cover }}" title="{{ track.data.title | escape | strip_html }}" alt="Cover of {{ track.data.title | escape | strip_html }}" width="120" loading="lazy" class="no-frills">
      </a>
      <p> {{ track.data.title | escape | strip_html }} by {{ track.data.artist | escape | strip_html }}</p>
    </li>
  {% endfor %}
</ul>
<p class="small">View more <a href="/music/">listens</a></p>

<h2>Recently Watched</h2>
<ul class="movie--list">
 {% for movie in collections.recentMovies limit: 8 %}
    <li>
      <a rel="noreferrer" target="_blank" href="{{ movie.url }}">
        <img src="{{ movie.data.cover }}" title="{{ movie.data.title | escape | strip_html }}" alt="Cover of {{ movie.data.title | escape | strip_html }}" width="120" loading="lazy" class="no-frills">
      </a>
      <p>{{ movie.data.title | escape | strip_html }}</p>
    </li>
  {% endfor %}
</ul>
<p class="small">View more <a href="/movies/">watches</a></p>
