<!doctype html>
<html lang="{{ metadata.locale }}" prefix="og: https://ogp.me/ns#">
  <!--! Hello you curious user, if it helps you can see the full code over on GitHub: {{ metadata.repo }} -->
  <head>
    {% include "partials/head.liquid" %}
  </head>
  <body>
    <div class="container">
      <a href="#skip" class="skip-link">Skip to main content</a>
      <header class="mast-head">
        {% include "partials/nav-header.liquid" %}
      </header><!-- .header -->
      <main id="#skip" tabindex="-1" data-input-path="{{ page.filePathStem }}">
        <article  class="h-entry">
          <section class="intro">
            <div class="intro--content">
              <h1 class="post-title p-name">{{ title }}</h1>
              <div class=" h-card" hidden>
                <a class="u-url" style="display:none" href="{{ post.url }}">{{ title }}</a>
                <a class="p-author h-card" rel="author" style="display:none" href="{{ globals.url }}">{{ metadata.author.name }}</a>
                <img class="u-photo" style="display:none" src="/assets/images/headshot.webp" alt="headshot of Adam Chamberlin in Mackman Group outdoor space">
              </div>
              <div class="tagline">
                <p>Checked in on {{ date | dateLongDate }}</p>
              </div><!-- .tagline -->
            </div><!-- .intro--content -->
          </section><!-- .intro -->
          <section class="post-single">
            <div class="post--content e-content">
              <div id="map"></div>
              <a href="{{ url }}">View on Foursquare</a>
              {{ content }}
            </div><!-- .post--content -->
          </section><!-- .post-single -->
        </article>
        <section class="responses" id="responses">
          {% include "partials/webmentions.liquid" %}
        </section>
        <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.js"></script>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoiZnVua3lsYXJtYSIsImEiOiJjbTR2OGE0YzIwMDFwMmpxdjJyZm5mdGxjIn0.NsXqp9Lc4ysb6Dd2aT8RyA';
          const map = new mapboxgl.Map({
              container: 'map', // container ID
              center: [{{ longitude }}, {{ latitude }}], // starting position [lng, lat]. Note that lat must be set between -90 and 90
              zoom: 16 // starting zoom
          });
          new mapboxgl.Marker().setLngLat([{{ longitude }}, {{ latitude }}]).addTo(map);
          map.resize();
        </script>
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.url | absoluteUrl }}"
          },
          "headline": "{{ title }}",
          "description": "{{ summary }}",
          "image": "{{ cover | absoluteUrl }}",
          "author": {
            "@type": "Person",
            "name": "{{ metadata.author.name }}",
            "url": "{{ globals.url }}"
          },
          "datePublished": "{{ page.date | dateHtmlString }}"
        }
        </script>
      </main>
      <footer class="mast-foot">
        {% include "partials/nav-footer.liquid" %}
      </footer><!-- .mast-foot -->
    </div><!-- .container -->
    <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
    {% include "partials/footer.liquid" %}
  </body>
</html>
