<!doctype html>
<html lang="{{ metadata.locale }}" prefix="og: https://ogp.me/ns#">
  <!--! Hello you curious user, if it helps you can see the full code over on GitHub: {{ metadata.repo }} -->
  <head>
    {% include "partials/head.liquid" %}
  </head>
  <body>
    <div class="container">
      <a href="#skip" class="skip-link">Skip to main content</a>
      <header class="mast-head">
        {% include "partials/nav-header.liquid" %}
      </header><!-- .header -->
      <main id="#skip" tabindex="-1" data-input-path="{{ page.filePathStem }}">
        {{ content }}
      </main><!-- .main -->
      <footer class="mast-foot">
        {% include "partials/nav-footer.liquid" %}
      </footer><!-- .mast-foot -->
    </div><!-- .container -->
    <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
    {% include "partials/footer.liquid" %}
  </body>
</html>
