<footer class="mast-foot h-card" role="contentinfo">
  <div class="container">
    <nav class="footer">
      <ul class="navigation-footer">
        {% for item in navigation.footer %}
          <li class="nav-bar--item {% if item.class %}{{ item.class }}{% endif %}">
            <a class="" {% if page.url==item.url %} aria-current="page" {% endif %} href="{{ item.url }}" title="{% if item.title %}{{ item.title }}{% endif %}">
              {{ item.label }}
            </a>
          </li>
        {% endfor %}
      </ul><!-- .nav-bar -->
    </nav><!-- .footer -->
    <div class="theme" hidden>
      <fieldset id="theme-picker">
        <legend>Theme:</legend>
        <label>
          <input name="theme" type="radio" value="auto" checked>
          Auto
        </label>
        <label>
          <input name="theme" type="radio" value="light">
          Light
        </label>
        <label>
          <input name="theme" type="radio" value="dark">
          Dark
        </label>
      </fieldset>
    </div><!-- .themes -->
      <div class="social">
        <a class="mastodon"
        href="https://mastodon.social/@FunkyLarma"
        target="_blank" rel="me"
        aria-label="Mastodon"
        style="">
          {% assetIcon "mastodon" %}
        </a>
        <a class="youtube"
        href="https://www.youtube.com/@funkylarma"
        target="_blank" rel="me"
        aria-label="YouTube"
        style="}">
          {% assetIcon "video" %}
        </a>
        <a class="github"
        href="https://github.com/funkylarma"
        target="_blank" rel="me"
        aria-label="Git Hub"
        style="">
          {% assetIcon "github" %}
        </a>
      </div><!-- .social -->
    <div class="copyright">Adam Chamberlin - 2005-{% year %}</div>
  </div><!-- .container -->
  {% include "partials/hcard.liquid" %}
  <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
  {% if globals.env == "production" %}
    {% viteScriptTag %}
  {% else %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/assets/js/main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css">
  {% endif %}
</footer><!-- .mast-foot -->


