{% assign webmentionUrl = page.url | absoluteUrl %}
{% assign mentions = webmentions | webmentionsByUrl: webmentionUrl %}

<div class="post--comment">

  <div class="comments--meta" hidden>
    <meta itemprop="mainEntityOfPage" content=" {{ page.url }}" />
    <meta itemprop="url" content="{{ page.url }}" />
    <div class="author-block" itemprop="author" itemtype="https://schema.org/Person" itemscope>
      <div>
        <a href="{{ globals.url }}" itemprop="url">
          <span itemprop="name">{{ metadata.author.name }}</span>
        </a>
      </div>
      <div itemprop="agentInteractionStatistic" itemtype="https://schema.org/InteractionCounter" itemscope>
        <span itemprop="userInteractionCount">{{ mentions.mentionCount }}</span>
        <span>posts</span>
      </div>
    </div>
    <div itemprop="datePublished" content="{{ page.date | dateHtmlString }}">{{ page.date | dateReadable }}</div>
    <div itemprop="headline">{{ title }}</div>
  </div><!-- comments--meta -->

  <h2>Responses</h2>
  <p class="info">
    <em>This site supports <a href="https://indieweb.org/Webmention">webmentions</a> via <a href="https://webmention.io/">webmention.io</a>.</em>
  </p>

  {% if mentions.mentionCount > 0 %}

  <div class="webmentions" id="webmentions" data-url="{{ webmentionUrl }}" data-last-fetched="{{ webmentions.lastFetched }}" itemscope itemtype="https://schema.org/DiscussionForumPosting">

    {% if mentions.comments %}
    <div class="comments">
      <h3 itemprop="interactionStatistic" itemtype="https://schema.org/InteractionCounter" itemscope>
        <span itemprop="userInteractionCount">
          {{ mentions.comments.length }}
        </span>
        <span itemprop="interactionType" content="https://schema.org/CommentAction">
          Comment {%- if mentions.comments.length > 1 -%}s{% endif %}
        </span>
      </h3>
      <ol>
        {% for item in mentions.comments %}
        <li class="comment static-comments-reply u-comment" id="webmention-{{ item.wm-id }}">
          <div class="comment--head">
            {% if item.author %}
            <div itemscope itemtype="https://schema.org/Person">
              <a href="{{ item.author.url }}" class="comment--author h-card u-url" itemprop="url">
                {% if item.author.photo %}
                <img class="comment--author--photo u-photo" src="{{ item.author.photo }}" alt="Photo of {{ item.author.name }}" itemprop="image" width="50" height="50" loading="lazy" eleventy:ignore>
                {% else %}
                <img class="comment--author--photo" src="" alt="" width="48" height="48" eleventy:ignore>
                {% endif %}
                <h4 class="p-name" itemprop="name">
                  {{ item.author.name }}
                </h4>
              </a>
            </div>
            {% else %}
            <span class="comment--author">
              <img class="comment--author--photo" src="" alt="" eleventy:ignore>
              <h4>Anonymous</h4>
            </span>
            {% endif %}
            <em>
              <time class="postlist-date dt-published" itemprop="datePublished" datetime="{{ item.published }}">{{ item.published | dateReadableFromISO: "dd LLL yyyy" }}</time>
            </em>
          </div>
          <div class="comment--body">
            <p class="comment--content p-content" itemprop="text">
              {{ item.content }}
            </p>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div><!-- .comments -->
    {% endif %}

    {% if mentions.likes %}
    <div class="likes">
      <h3 itemprop="interactionStatistic" itemtype="https://schema.org/InteractionCounter" itemscope>
        <span itemprop="userInteractionCount">
          {{ mentions.likes.length }}
        </span>
        <span itemprop="interactionType" content="https://schema.org/LikeAction">
          Like {%- if mentions.likes.length > 1 -%}s{% endif %}
        </span>
      </h3>
      <div class="webmentions--facepile">
        {% for item in mentions.likes %}
        <div itemscope itemtype="https://schema.org/Person">
          <a class="h-card u-url" target="_blank" rel="noopener noreferrer" href="{{ item.url }}" itemprop="url">
            <img class="comment--author--photo u-photo" src="{{ item.photo }}" alt="photo of the author of one of the webmentions for this page" itemprop="image" width="50" height="50" loading="lazy" eleventy:ignore>
          </a>
        </div>
        {% endfor %}
      </div><!-- .facepile -->
    </div>
    {% endif %}

    {% if mentions.reposts %}
    <div class="reposts">
      <h3 itemprop="interactionStatistic" itemtype="https://schema.org/InteractionCounter" itemscope>
        <span itemprop="userInteractionCount">
          {{ mentions.reposts.length }}
        </span>
        <span itemprop="interactionType" content="https://schema.org/ShareAction">
          Repost {%- if mentions.reposts.length > 1 -%}s{% endif %}
        </span>
      </h3>
      <div class="webmentions--facepile">
        {% for item in mentions.reposts %}
        <div itemscope itemtype="https://schema.org/Person">
          <a class="h-card u-url" target="_blank" rel="noopener noreferrer" href="{{ item.url }}" itemprop="url">
            <img class="comment--author--photo u-photo" src="{{ item.photo }}" alt="photo of the author of one of the webmentions for this page" itemprop="image" width="50" height="50" loading="lazy" eleventy:ignore>
          </a>
        </div>
        {% endfor %}
      </div>
    </div><!-- .reposts -->
    {% endif %}

  </div><!-- .webmentions -->

  {% else %}

  <p class="webmentions--empty" data-url="{{ webmentionUrl }}" data-last-fetched="{{ webmentions.lastFetched }}">
    No responses yet.
  </p>

  {% endif %}

  <h3>Link your own content or reply.</h3>
  <p>Have you posted a response to this or anything related, let me know...</p>
  <form action="https://webmention.io/{{ globals.domain }}/webmention" method="post" class="form-webmention">
    <label for="form-webmention-source">URL of your site:</label>
    <input id="form-webmention-source" type="url" name="source" placeholder="https://example.com" required>
    <input type="hidden" name="target" value="{{ page.url | absoluteUrl }}">
    <input type="submit" class="button" value="Send Mention">
  </form>
</div><!-- .post--comment -->