---
layout: null
templateEngineOverride: njk
eleventyExcludeFromCollections: true
permalink: /feed/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(globals.url) }}" rel="self"/>
  <link href="{{ globals.url }}" rel="alternate" />
  <updated>{{ collections.allFeed | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ globals.url | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.allFeed %}
  {%- set absolutePostUrl = post.url | htmlBaseUrl(globals.url) %}
  <entry>
    <id>{{ absolutePostUrl }}</id>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <published>{{ post.date | dateToRfc3339 }}</published>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <category term="{{ post.data.category }}" />
    <content type="html">{{ post.templateContent | renderTransforms(post.data.page, globals.url) }}</content>
    <author>
      <name>{{ metadata.author.name }}</name>
      <email>{{ metadata.author.email }}</email>
    </author>
  </entry>
  {%- endfor %}
</feed>
