---
layout: null
templateEngineOverride: njk
eleventyExcludeFromCollections: true
permalink: /feed/feed.rss
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>{{ metadata.title}}</title>
  <link>{{ globals.url }}</link>
  <description>{{ metadata.description }}</description>
  <language>{{ metadata.language }}</language>
  <image>
    <url>{{ metadata.author.image }}</url>
    <title>{{ metadata.author.name }}</title>
    <link>{{ globals.url }}</link>
  </image>
  {%- for post in collections.article -%}
  {%- set absolutePostUrl = post.url | htmlBaseUrl(globals.url) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description>{{ post.templateContent }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <author>{{ metadata.author.name }}</author>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
  {%- endfor %}
</channel>
</rss>
