<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ metadata.title }}</title>
  
  <meta name="description" content="{{ metadata.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="generator" content="{{ eleventy.generator }}" built="{% currentBuildDate %}">
  
  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

  <link rel="shortcut icon" href="/images/favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

  <link rel="stylesheet" href="/css/screen.css">
  
  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
  
</head>