---
layout: page.liquid
templateEngineOverride: njk
eleventyExcludeFromCollections: true
title: Archives
subhead: Strolling back in time
description: "The archive of all the content published on adamchamberlin.info. You can browse by tag or category, or just dive into a list of all the posts."
permalink: "/archive/"
---
<p class="h3">Welcome to the digital archive of the site.</p>
<p>From here you can browse by <a href="#category" title="Browse by category">category</a>, by <a href="#tag" title="Browse by tag">tag</a> or just view all the content over the <a href="#date" title="Browse by date">years</a>. There are a lot of <a href="/stats/">statistics</a> that detail what went into putting all these words together.</p>
<!-- Categories -->
<div class="category-list">
  <h2 id="category">By Category</h2>
  <div class="h-feed">
    <ul class="category--feed">
      {%- for cat, val in collections.categoryList | dictsort -%}
      <li class="h-entry">
        <a href="/category/{{ cat | slugify }}/" title="Browse {{ collections.categoryList[cat].length }} post{% if collections[tag].length > 1 %}s{% endif %}">
          <div class="category">
            {{ cat }}
            <span class="post-count">
            - {{ collections.categoryList[cat].length }} item{% if collections.categoryList[cat].length > 1 %}s{% endif %}
            </span>
          </div><!-- .category -->
        </a>
      </li>
      {% endfor %}
    </ul><!-- .category-cloud -->
  </div><!-- h-feed -->
</div><!-- .category-list -->
<!-- Tags -->
<div class="tag-list">
  <h2 id="tag">By Tag</h2>
  <div class="h-feed">
    <ul class="tag--feed wide">
      {%- for tag, val in collections.tagList | dictsort -%}
        <li class="h-entry">
          <a href="/tagged/{{ tag | slugify }}/" title="Browse {{ collections[tag].length }} post{% if collections[tag].length > 1 %}s{% endif %}">
            <div class="tag">
              {{ tag }}
              <span class="post-count">
                - {{ collections[tag].length }} post{% if collections[tag].length > 1 %}s{% endif %}
              </span>
            </div><!-- .tag -->
          </a>
        </li>
      {% endfor %}
    </ul><!-- .tag-cloud -->
  </div><!-- .h-feed -->
</div><!-- .tag-list -->
<div class="archive-list">
  <h2 id="date">By Date</h2>
  <div class="h-feed">
    <ul class="archive--feed">
    {% for year in collections.contentArchive %}
    <li class="archive--years">
      <div class="archive--year">
        <h2 id="{{ year.title }}">{{ year.title }}</h2>
      </div>
      <ul class="archive--months">
      {% for month in year.months %}
        <div class="archive--month">
          <h3>{{ month.title }}</h3>
        </div>
        <ul class="archive--entries">
        {% for entry in month.entries %}
          <li class="h-entry {{ entry.category }}">

            {% if entry.category == 'article' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-article" viewBox="0 0 16 16">
                <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
              </svg>
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>

            {% elif entry.category == 'note' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-note" viewBox="0 0 16 16">
                <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293z"/>
              </svg>
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>

            {% elif entry.category == 'checkin' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-map" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
              </svg>
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Checked in at <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>

            {% elif entry.category == 'reply' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-reply" viewBox="0 0 16 16">
                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.7 8.7 0 0 0-1.921-.306 7 7 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028zM7.8 10.386q.103 0 .223.006c.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96z"/>
              </svg>
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>

            {% elif entry.category == 'rsvp' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-rsvp" viewBox="0 0 16 16">
                <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
              </svg>


            {% elif entry.category == 'photography' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-photo" viewBox="0 0 16 16">
                <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
                <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
              </svg>
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>

            {% elif entry.category == 'videography' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-video" viewBox="0 0 16 16">
                <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"/>
              </svg>
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>

            {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon icon-unknown" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
              </svg>
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    </li>
    {% endfor %}
    </ul>
  </div>
</div><!-- .archive-list -->
