---
layout: page.liquid
templateEngineOverride: njk
eleventyExcludeFromCollections: true
title: Archives
subhead: Strolling back in time
description: "The archive of all the content published on adamchamberlin.info. You can browse by tag or category, or just dive into a list of all the posts."
permalink: "/archive/"
---
<p class="h3">Welcome to the digital archive of the site.</p>
<p>From here you can browse by <a href="#tag" title="Browse by tag">tag</a>, by <a href="#category" title="Browse by category">category</a> or just view all the content over the <a href="#date" title="Browse by date">years</a>. There are a lot of <a href="/stats/">statistics</a> that detail what went into putting all these words together.</p>
<!-- Tags -->
<div class="tag-list">
  <h2 id="tag">By Tag</h2>
  <div class="h-feed">
    <ul class="tag--feed wide">
      {%- for tag, val in collections.tagList | dictsort -%}
        <li class="h-entry">
          <a href="/tagged/{{ tag | slugify }}/" title="Browse {{ collections[tag].length }} post{% if collections[tag].length > 1 %}s{% endif %}">
            <div class="tag">
              {{ tag }}
              <span class="post-count">
                - {{ collections[tag].length }} post{% if collections[tag].length > 1 %}s{% endif %}
              </span>
            </div><!-- .tag -->
          </a>
        </li>
      {% endfor %}
    </ul><!-- .tag-cloud -->
  </div><!-- .h-feed -->
</div><!-- .tag-list -->
<!-- Categories -->
<div class="category-list">
  <h2 id="category">By Category</h2>
  <div class="h-feed">
    <ul class="category--feed">
      {%- for cat, val in collections.categoryList | dictsort -%}
      <li class="h-entry">
        <a href="/category/{{ cat | slugify }}/" title="Browse {{ collections.categoryList[cat].length }} post{% if collections[tag].length > 1 %}s{% endif %}">
          <div class="category">
            {{ cat }}
            <span class="post-count">
            - {{ collections.categoryList[cat].length }} item{% if collections.categoryList[cat].length > 1 %}s{% endif %}
            </span>
          </div><!-- .category -->
        </a>
      </li>
      {% endfor %}
    </ul><!-- .category-cloud -->
  </div><!-- h-feed -->
</div><!-- .category-list -->
<div class="archive-list">
  <h2 id="date">By Date</h2>
  <div class="h-feed">
    <ul class="archive--feed">
    {% for year in collections.contentArchive %}
    <li class="archive--years">
      <div class="archive--year">
        <h2 id="{{ year.title }}">{{ year.title }}</h2>
      </div>
      <ul class="archive--months">
      {% for month in year.months %}
        <div class="archive--month">
          <h3>{{ month.title }}</h3>
        </div>
        <ul class="archive--entries">
        {% for entry in month.entries %}
          <li class="h-entry">
            <time class="dt-published" datetime="{{ entry.date }}">
              {{ entry.date }}
            </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    </li>
    {% endfor %}
    </ul>
  </div>
</div><!-- .archive-list -->
