---
layout: page.liquid
templateEngineOverride: njk
eleventyExcludeFromCollections: true
title: Daily Archives
subhead: Strolling back in time
description: "The archive of all the content published on adamchamberlin.info. You can browse by tag or category, or just dive into a list of all the posts."
pagination:
  data: collections.postsByYearMonthDay
  size: 1
  alias: yearMonthDay
permalink: /{{ yearMonthDay[0] }}/
---

<h2>{{ yearMonthDay[0] | getMonth | monthName }} {{ yearMonthDay[0] | getDayOrdinal }}, {{ yearMonthDay[0] | getYear }}</h2>
<div class="archive-list">
{% for postedYearMonthDay, dayPosts in collections.postsByYearMonthDay %}
  {% if postedYearMonthDay === yearMonthDay[0] %}
  <ul class="archive--feed">
    {% for post in dayPosts | reverse %}
      <li class="h-entry {{ post.data.category }}">

        {% if post.data.category == 'article' %}
          {% assetIcon "article" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          Wrote <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

        {% elif post.data.category == 'note' %}
          {% assetIcon "note" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          Noodled about <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

        {% elif post.data.category == 'checkin' %}
          {% assetIcon "checkin" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          Checked in at <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

        {% elif post.data.category == 'reply' %}
          {% assetIcon "reply" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          Replied to <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

        {% elif post.data.category == 'rsvp' %}
          {% assetIcon "rsvp" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          RSVP'd to <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

        {% elif post.data.category == 'event' %}
          {% assetIcon "calendar" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          Signed up for <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>
        
        {% elif post.data.category == 'exercise' %}
          {% assetIcon "stopwatch" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          Went <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>
        
        {% elif post.data.category == 'race' %}
          {% assetIcon "trophy" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          Raced <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

        {% elif post.data.category == 'photography' %}
          {% assetIcon "photo" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          Snapped <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

        {% elif post.data.category == 'videography' %}
          {% assetIcon "video" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          Shot <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>
        
        {% elif post.data.category == 'bookmark' %}
          { % assetIcon "bookmark" %}
            <time class="dt-published" datetime="{{ post.date }}"/>
            Bookmarked <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>
    
        {% elif post.data.category == 'jam' %}
          {% assetIcon "jam" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          Vibing to <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

        {% else %}
          {% assetIcon "unknown" %}
          <time class="dt-published" datetime="{{ post.date }}"/>
          <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>
        {% endif %}

      </li>

    {% endfor %}

  </ul>

  {% endif %}

{% endfor %}

</div>