---
layout: page.liquid
templateEngineOverride: njk
eleventyExcludeFromCollections: true
title: Monthly Archives
subhead: Strolling back in time
description: "The archive of all the content published on adamchamberlin.info. You can browse by tag or category, or
just dive into a list of all the posts."
pagination:
  data: collections.postsByYearMonth
  size: 1
  alias: yearMonth
permalink: /{{ yearMonth[0] }}/
---
<div class="archive-list">
  <div class="h-feed">
    <ul class="archive--feed">
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ yearMonth[0] | getYear }}">{{ yearMonth[0] | getYear }}</h2>
        </div>
        <ul class="archive--months">
          <div class="archive--month">
            <h3>{{ yearMonth[0] | getMonth | monthName }}</h3>
          </div>
          <ul class="archive--entries">
            {% for postedYearMonth, monthPosts in collections.postsByYearMonth %}
            {% if postedYearMonth === yearMonth[0] %}
            {% for post in monthPosts | reverse %}
            <li class="h-entry {{ post.data.category }}">

              {% if post.data.category == 'article' %}
              {% assetIcon "article" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - Wrote <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% elif post.data.category == 'note' %}
              {% assetIcon "note" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - Noodled about <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% elif post.data.category == 'checkin' %}
              {% assetIcon "checkin" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - Checked in at <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% elif post.data.category == 'reply' %}
              {% assetIcon "reply" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - Replied to <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% elif post.data.category == 'rsvp' %}
              {% assetIcon "rsvp" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - RSVP'd to <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% elif post.data.category == 'event' %}
              {% assetIcon "calendar" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - Signed up for <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% elif post.data.category == 'exercise' %}
              {% assetIcon "stopwatch" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - Went <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% elif post.data.category == 'race' %}
              {% assetIcon "trophy" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - Raced <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% elif post.data.category == 'photography' %}
              {% assetIcon "photo" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% elif post.data.category == 'videography' %}
              {% assetIcon "video" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% else %}
              {% assetIcon "unknown" %}
              <time class="dt-published" datetime="{{ post.date }}">
                {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
              </time> - <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>

              {% endif %}
            </li>
            {% endfor %}
            {% endif %}
            {% endfor %}
          </ul>
        </ul>
      </li>
    </ul>
  </div>
</div>