---
layout: page.liquid
templateEngineOverride: njk
eleventyExcludeFromCollections: true
title: Archives
subhead: Strolling back in time
description: "The archive of all the content published on adamchamberlin.info. You can browse by tag or category, or just dive into a list of all the posts."
permalink: "/archive/"
---
<p class="h3">Welcome to the digital archive of the site.</p>
<p>From here you can browse by <a href="#category" title="Browse by category">category</a>, by <a href="#tag" title="Browse by tag">tag</a> or just view all the content over the <a href="#date" title="Browse by date">years</a>. There are a lot of <a href="/stats/">statistics</a> that detail what went into putting all these words together.</p>
<!-- Categories -->
<div class="category-list">
  <h2 id="category">By Category</h2>
  <p class="small">Browse the content by the different categories. At it's core there are two main types, articles and notes. Articles are the longer form writings and notes are short form musings. Notes are then further broken down into different categories.</p>
  <div class="h-feed">
    <ul class="category--feed">
      {%- for cat, val in collections.categoryList | dictsort -%}
      <li class="h-entry">
        <a href="/category/{{ cat | slugify }}/" title="Browse {{ collections.categoryList[cat].length }} post{% if collections[tag].length > 1 %}s{% endif %}" rel="tag">
          <div class="category">
            {{ cat | capitaliseFirstLetter }}
            <span class="post-count">
            - {{ collections.categoryList[cat].length }} item{% if collections.categoryList[cat].length > 1 %}s{% endif %}
            </span>
          </div><!-- .category -->
        </a>
      </li>
      {% endfor %}
    </ul><!-- .category-cloud -->
  </div><!-- h-feed -->
</div><!-- .category-list -->
<!-- Tags -->
<div class="tag-list">
  <h2 id="tag">By Tag</h2>
  <p class="small">Tags are used to group content together. An articles might be organised with a certain tag, but that same tag could also be used on a note or a checkin.</p>
  <div class="h-feed">
    <ul class="tag--feed wide">
      {%- for tag, val in collections.tagList | dictsort -%}
        <li class="h-entry">
          <a href="/tagged/{{ tag | slugify }}/" title="Browse {{ collections[tag].length }} post{% if collections[tag].length > 1 %}s{% endif %}" rel="tag">
            <div class="tag">
              {{ tag }}
              <span class="post-count">
                - {{ collections[tag].length }} post{% if collections[tag].length > 1 %}s{% endif %}
              </span>
            </div><!-- .tag -->
          </a>
        </li>
      {% endfor %}
    </ul><!-- .tag-cloud -->
  </div><!-- .h-feed -->
</div><!-- .tag-list -->
<div class="archive-list">
  <h2 id="date">By Date</h2>
  <p class="small">The following is a chronological list of all the content on the site. This includes the articles and notes. You can find a different take on this in the <a href="/activity/">activity</a> feed page.</p>
  <div class="h-feed">
    <ul class="archive--feed">
    {% for year in collections.contentArchive %}
    <li class="archive--years">
      <div class="archive--year">
        <h2 id="{{ year.title }}">{{ year.title }}</h2>
      </div>
      <ul class="archive--months">
      {% for month in year.months %}
        <div class="archive--month">
          <h3>{{ month.title }}</h3>
        </div>
        <ul class="archive--entries">
        {% for entry in month.entries %}
          <li class="h-entry {{ entry.category }}">

            {% if entry.category == 'article' %}
              {% assetIcon "article" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Wrote <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>

            {% elif entry.category == 'note' %}
              {% assetIcon "note" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Noodled about <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>

            {% elif entry.category == 'checkin' %}
              {% assetIcon "checkin" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Checked in at <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>

            {% elif entry.category == 'reply' %}
              {% assetIcon "reply" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Replied to <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>

            {% elif entry.category == 'like' %}
              {% assetIcon "heart" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Liked <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'repost' %}
              {% assetIcon "boost" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Boosted <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'rsvp' %}
              {% assetIcon "rsvp" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - RSVP'd to <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'event' %}
              {% assetIcon "calendar" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Signed up for <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'exercise' %}
              {% assetIcon "stopwatch" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Went {{ entry.sport }} <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'race' %}
              {% assetIcon "trophy" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Raced <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'signup' %}
              {% assetIcon "signup" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Signed up for <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'photography' %}
              {% assetIcon "photo" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'videography' %}
              {% assetIcon "video" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'bookmark' %}
              {% assetIcon "bookmark" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Bookmarked <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'movie' %}
              {% assetIcon "movie" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Watched <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'book' %}
              {% assetIcon "book" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Read <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% elif entry.category == 'jam' %}
              {% assetIcon "jam" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Vibing to <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>

            {% else %}
              {% assetIcon "unknown" %}
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title | truncate(40) }}</a>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endfor %}
      </ul>
    </li>
    {% endfor %}
    </ul>
  </div>
</div><!-- .archive-list -->
