---
layout: page.liquid
templateEngineOverride: njk
eleventyExcludeFromCollections: true
title: Daily Archives
subhead: Strolling back in time
description: "The archive of all the content published on adamchamberlin.info. You can browse by tag or category, or just dive into a list of all the posts."
pagination:
  data: collections.postsByYearMonthDay
  size: 1
  alias: yearMonthDay
permalink: /{{ yearMonthDay[0] }}/
---

<h2>{{ yearMonthDay[0] | getMonth | monthName }} {{ yearMonthDay[0] | getDayOrdinal }}, {{ yearMonthDay[0] | getYear }}</h2>
<div class="archive-list">
{% for postedYearMonthDay, dayPosts in collections.postsByYearMonthDay %}
  {% if postedYearMonthDay === yearMonthDay[0] %}
  <ul class="archive--feed">
    {% for post in dayPosts | reverse %}
      <li class="h-entry">
        <time class="dt-published" datetime="{{ post.date }}">
          {{ post.date | getDayOrdinal }}
        </time> - <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
</div>
