---
layout: page.liquid
title: Movies
subhead: Frankly, my dear, I don't give a damn
description: This page is a quick and dirty archive page of all my LetterBoxd activity.
permalink: "/movies/"
---
<p>
  All data is taken from my <a href="https://letterboxd.com/funkylarma/">LetterBoxd</a> account.
</p>

<h2>Recently Watched</h2>
<ul class="movie--list">
 {% for movie in collections.recentMovies %}
    <li>
      <a rel="noreferrer" target="_blank" href="{{ movie.url }}">
        <img src="{{ movie.data.cover }}" title="{{ movie.data.title }}" alt="Cover of {{ movie.data.title }}" width="120" loading="lazy" class="no-frills" eleventy:optional>
      </a>
      <p>{{ movie.data.title }}</p>
    </li>
  {% endfor %}
</ul>


