---
layout: page.liquid
title: Music
subhead: Where words fail, music speaks
description: This page is a quick and dirty archive page of all my LastFM scrobbles.
permalink: "/music/"
---
<p>
  All data is taken from my <a href="https://www.last.fm/user/FunkyLarma">LastFM</a> account.
</p>

<h2>Recently Played</h2>
<ul class="music--list">
  {% for track in lastfm.recentTracks %}
    <li>
      <a href="{{ track.url }}">
        <img src="{{ track.data.cover }}" title="{{ track.data.title | escape }}" alt="Cover of {{ track.data.title | stripDoubleQuote | escape }}" width="120" loading="lazy" class="no-frills" eleventy:optional>
      </a>
      <p> {{ track.data.title | escape }} by {{ track.data.artist | escape }}</p>
    </li>
  {% endfor %}
</ul>

<h2>Weekly Artists</h2>
<ul>
  {% for artist in lastfm.weeklyArtists %}
    <li class="artist">
      <a href="{{ artist.url }}">
        {{ artist.data.title }}
      </a>
       - {{ artist.data.playcount }} Play{% if artist.data.playcount > 1 %}s{% endif %}
    </li>
  {% endfor %}
</ul>
