---
layout: page.liquid
templateEngineOverride: njk
eleventyExcludeFromCollections: true
title: Yearly Archives
subhead: Strolling back in time
description: "The archive of all the content published on adamchamberlin.info. You can browse by tag or category, or just dive into a list of all the posts."
pagination:
  data: collections.postsByYear
  size: 1
  alias: year
permalink: /{{ year[0] }}/
---
<div class="archive-list">
  <div class="h-feed">
    <ul class="archive--feed">
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year[0] }}">{{ year[0] }}</h2>
        </div>
        {% for postedYear, yearPosts in collections.postsByYear %}
        {% if postedYear === year[0] %}
          <ul class="archive--months">
            {% for post in yearPosts | reverse %}
              <li class="h-entry">
                <time class="dt-published" datetime="{{ post.date }}">
                  {{ post.date | getDayOrdinal }} {{ post.date | getMonthName}}
                </time> - <a class="p-name" href="{{ post.url }}">{{ post.data.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endfor %}
      </li>
    </ul>
  </div>
</div>
