---
layout: page.liquid
permalink: '/comments/'
noindex: true
title: Comments
subhead: These are all the comments
description: These are all the comments
---

<div class="comments--list--content">
  <ul>
    {% for mention in webmentions.children %}

    {% if mention.author.name != "" %}

      {% if mention.wm-property == 'in-reply-to' %}
        <li class="reply h-entry hentry">
          <div class="mention--avatar">
            <img src="{{ mention.author.photo }}" alt="Photo of {{ mention.author.name }}"/>
          </div><!-- .mention--avatar -->
          <div class="mention--header">
            <p>
              {% assetIcon "chat" %}
              <a href="{{ mention.author.url }}" class="comment--author h-card u-url">
                {{ mention.author.name }}
              </a>
              replied to: <br />
              <a href="{{ mention.wm-target }}" class="mention--link u-url">{{ mention.wm-target }}</a>
            </p>
          </div><!-- .mention--header -->
          <div class="mention--date">
            <time class="dt-published" datetime="{{ mention.wm-received }}">
              {{ mention.wm-received | dateReadableFromISO: "dd LLL yyyy" }}
            </time>
          </div><!-- .mention--date -->
          <div class="mention--content">
            {{ mention.content.html }}
          </div><!-- .mention--content -->
        </li>

      {% elsif mention.wm-property == 'mention-of' %}
        <li class="mention h-entry hentry">
          <div class="mention--avatar">
          <img src="{{ mention.author.photo }}" alt="Photo of {{ mention.author.name }}"/>
        </div><!-- .mention--avatar -->
        <div class="mention--header">
          <p>
            {% assetIcon "at" %}
            <a href="{{ mention.author.url }}" class="comment--author h-card u-url">
              {{ mention.author.name }}
            </a>
            mentioned: <br />
            <a href="{{ mention.wm-target }}" class="mention--link u-url">{{ mention.wm-target }}</a>
          </p>
        </div><!-- .mention--header -->
        <div class="mention--date">
          <time class="dt-published" datetime="{{ mention.wm-received }}">
            {{ mention.wm-received | dateReadableFromISO: "dd LLL yyyy" }}
          </time>
        </div><!-- .mention--date -->
        <div class="mention--content">
          {{ mention.content.html }}
        </div><!-- .mention--content -->
        </li>

      {% elsif mention.wm-property == 'like-of' %}
        <li class="like h-entry hentry">
          <div class="mention--avatar">
          <img src="{{ mention.author.photo }}" alt="Photo of {{ mention.author.name }}"/>
        </div><!-- .mention--avatar -->
        <div class="mention--header">
          <p>
            {% assetIcon "heart" %}
            <a href="{{ mention.author.url }}" class="comment--author h-card u-url">
              {{ mention.author.name }}
            </a>
            liked: <br />
            <a href="{{ mention.wm-target }}" class="mention--link u-url">{{ mention.wm-target }}</a>
          </p>
        </div><!-- .mention--header -->
        <div class="mention--date">
          <time class="dt-published" datetime="{{ mention.wm-received }}">
            {{ mention.wm-received | dateReadableFromISO: "dd LLL yyyy" }}
          </time>
        </div><!-- .mention--date -->
        <div class="mention--content">
          {{ mention.content.html }}
        </div><!-- .mention--content -->
        </li>

      {% else %}
        <li class="h-entry hentry">
          <div class="mention--avatar">
          <img src="{{ mention.author.photo }}" alt="Photo of {{ mention.author.name }}"/>
        </div><!-- .mention--avatar -->
        <div class="mention--header">
          <p>
            {% assetIcon "unknown" %}
            <a href="{{ mention.author.url }}" class="comment--author h-card u-url">
              {{ mention.author.name }}
            </a>
            did something with: <br />
            <a href="{{ mention.wm-target }}" class="mention--link u-url">{{ mention.wm-target }}</a>
          </p>
        </div><!-- .mention--header -->
        <div class="mention--date">
          <time class="dt-published" datetime="{{ mention.wm-received }}">
            {{ mention.wm-received | dateReadableFromISO: "dd LLL yyyy" }}
          </time>
        </div><!-- .mention--date -->
        <div class="mention--content">
          {{ mention.content.html }}
        </div><!-- .mention--content -->
        </li>
      {% endif %}

    {% endif %}

    {%- endfor -%}
  </ul>

</div><!-- .post-list-content -->
