<!doctype html>
<html lang="{{ metadata.locale }}" prefix="og: https://ogp.me/ns#">
<!--! Hello you curious user, if it helps you can see the full code over on GitHub: {{ metadata.repo }} -->

<head>
  {% include "partials/head.liquid" %}
</head>

<body>
  <a href="#skip" class="skip-link">Skip to main content</a>
  <div class="layout" role="document">
    {% include "partials/header.liquid" %}
    <main class="container main" id="#skip" role="main" tabindex="-1" data-input-path="{{ page.filePathStem }}">
      <article class="hentry h-entry post--single" id="{{ title | slugify }}" itemtype="http://schema.org/BlogPosting" itemid="{{ page.url | absoluteUrl }}" role="article">
        {% include "partials/hcard.liquid" %}
        <meta itemprop="wordCount" content="{{ content | wordCount }}">
        <header class="post--header">
          <h1 class="post--title p-name" itemprop="headline">{{ title }}</h1>
          <div class="tagline">
            {% if subhead %}
            <p>{{ subhead }}</p>
            {% endif %}
          </div><!-- .tagline -->
          <div class="post--meta">
            <div class="post--date">
              {% assetIcon "calendar" %}
              <time class="postlist-date dt-published" datetime="{{ page.date | dateHtmlString }}" itemprop="datePublished">{{ page.date | dateReadable }}</time>
            </div><!-- .post--date -->
            {% if category %}
            <div class="post--category">
              {% assetIcon "folder" %}
              <a class="p-category" href="/category/{{ category | slugify }}/" title="Browse other posts in the {{ category }} category" rel="tag">
                {{ category }}
              </a>
            </div><!-- .post--category -->
            {% endif %}
            {% if tags.length > 1 %}
            <div class="post--tags">
              {% assetIcon "tag" %}
              {%- for tag in tags -%}
              {% if tag != 'article' and tag != 'note' and tag != 'video' %}
              <a class="p-category" href="/tagged/{{ tag | slugify }}/" title="Browse other posts tagged with {{ tag }}" rel="tag">{{ tag }} </a>
              {% endif %}
              {%- endfor -%}
            </div><!-- .post--tags -->
            {% endif %}
            <div class="post--reading">
              {% assetIcon "hourglass" %}
              {{ content | timeReading }}
            </div><!-- .post-reading -->
          </div><!-- .post-meta -->
        </header><!-- .page--header -->
        <div class="post--content e-content" itemprop="articleBody">
          {{ content }}
        </div><!-- .post--content -->
      </article>

      {% if related %}
        <aside class="related">
          <h2>Related Content</h2>
          <ul>
          {% assign posts = related | getRelated: collections.all %}
          {% for post in posts %}
            <li>
              {% if post.data.category == 'article' %}
                {% assetIcon 'article' %}
                Also written -

              {% elsif post.data.category == 'note' %}
                {% assetIcon "note" %}
                Noted about -

              {% elsif post.data.category == 'rsvp' %}
                {% assetIcon "rsvp" %}
                Attended -

              {% elsif post.data.category == 'reply' %}
                {% assetIcon "reply" %}
                Commented to -

              {% elsif post.data.category == 'signup' %}
                {% assetIcon "signup" %}
                Original signup -

              {% elsif post.data.category == 'exercise' %}
                {% assetIcon "stopwatch" %}
                Training -

              {% elsif post.data.category == 'race' %}
                {% assetIcon "trophy" %}
                Race file -

              {% elsif post.data.category == 'checkin' %}
                {% assetIcon "checkin" %}
                Checked in -

              {% endif %}
              <a href="{{ post.url }}">
                {{ post.data.title }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </aside>
      {% endif %}

      {% include "partials/interactions.liquid" %}

      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.url | absoluteUrl }}"
          },
          "headline": "{{ title }}",
          "description": "{% if description %}{{ description }}{% else %}{{ title | metaDescription }}{% endif %}",
          "image": "{{ cover | absoluteUrl }}",
          "author": {
            "@type": "Person",
            "name": "{{ metadata.author.name }}",
            "url": "{{ globals.url }}"
          },
          "datePublished": "{{ page.date | dateHtmlString }}"
        }
      </script>
    </main>
    {% include "partials/footer.liquid" %}
  </div><!-- .container -->
</body>

</html>
