<!doctype html>
<html lang="{{ metadata.locale }}" prefix="og: https://ogp.me/ns#">
  <!--! Hello you curious user, if it helps you can see the full code over on GitHub: {{ metadata.repo }} -->
  <head>
    {% include "partials/head.liquid" %}
  </head>
  <body>
    <a href="#skip" class="skip-link">Skip to main content</a>
    <div class="hfeed h-feed layout" role="document">
      {% include "partials/header.liquid" %}
      <main class="container main" id="#skip" role="main" tabindex="-1" data-input-path="{{ page.filePathStem }}">
        <article class="hentry h-entry post--single" id="{{ title | slugify }}" itemtype="http://schema.org/BlogPosting" itemid="{{ page.url | absoluteUrl }}" role="article">
          {% include "partials/hcard.liquid" %}
          <meta itemprop="wordCount" content="{{ content | wordCount }}">
          <header class="post--header">
            <h1 class="post--title p-name" itemprop="headline">{{ title }}</h1>
            <div class="tagline">
              {% if subhead %}
                <p>{{ subhead }}</p>
              {% endif %}
            </div><!-- .tagline -->
            <div class="post--meta">
              <div class="post--date">
                <span>Date: </span>
                <time class="postlist-date dt-published" datetime="{{ page.date | dateHtmlString }}">{{ page.date | dateReadable }}</time>
              </div><!-- .post--date -->
              {% if category %}
                <div class="post--category">
                  <span>Category: </span>
                  <a class="p-category" href="/category/{{ category | slugify }}/" title="Browse other posts in the {{ category }} category">
                    {{ category }}
                  </a>
                </div><!-- .post--category -->
              {% endif %}
              {% if tags.length > 1 %}
                <div class="post--tags">
                  <span>Tagged: </span>
                  {%- for tag in tags -%}
                    {% if tag != 'article' %}
                      <a class="p-category" href="/tagged/{{ tag | slugify }}/" title="Browse other posts tagged with {{ tag }}">
                        {{ tag }}
                      </a>
                    {% endif %}
                  {%- endfor -%}
                </div><!-- .post--tags -->
              {% endif %}
              <div class="post--reading">
                <span>Estimated: </span>
                {{ content | timeReading }}
              </div><!-- .post-reading -->
            </div><!-- .post-meta -->
          </header><!-- .page--header -->
          <div class="post--content e-content" itemprop="articleBody">
            {{ content }}
          </div><!-- .post--content -->
          <section class="responses" id="responses" itemscope itemtype="https://schema.org/Comment">
            {% include "partials/webmentions.liquid" %}
          </section>
        </article>
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.url | absoluteUrl }}"
          },
          "headline": "{{ title }}",
          "description": "{% if description %}{{ description }}{% else %}{{ title | metaDescription }}{% endif %}",
          "image": "{{ cover | absoluteUrl }}",
          "author": {
            "@type": "Person",
            "name": "{{ metadata.author.name }}",
            "url": "{{ globals.url }}"
          },
          "datePublished": "{{ page.date | dateHtmlString }}"
        }
        </script>
      </main>
      {% include "partials/footer.liquid" %}
    </div><!-- .container -->
  </body>
</html>
