<!doctype html>
<html lang="{{ metadata.locale }}" prefix="og: https://ogp.me/ns#">
<!--! Hello you curious user, if it helps you can see the full code over on GitHub: {{ metadata.repo }} -->

<head>
  {% include "partials/head.liquid" %}
</head>

<body>

  <a href="#skip" class="skip-link">Skip to main content</a>

  <div class="layout" role="document">

    {% include "partials/header.liquid" %}

    <main class="container main" id="#skip" role="main" tabindex="-1" data-input-path="{{ page.filePathStem }}">

      <article class="h-entry note--single checkin">
        <div class="note--main">
          <div class="note--content" itemprop="articleBody">

            <header>
              <div class="note--date">
                <h1>
                  {% assetIcon "calendar" %}
                  <time class="dt-published" datetime="{{ page.date | dateHtmlString }}" itemprop="datePublished">
                    <a href="{{ page.url }}" class="u-url">
                      {{ page.date | dateLongDate }}
                    </a>
                  </time>
                </h1>
              </div><!-- .post--date -->
              <div class="note--meta">
                {% if category %}
                <div class="note--category">
                  <span>Category: </span>
                  <a class="p-category" href="/category/{{ category | slugify }}/" title="Browse other posts in the {{ category }} category" rel="tag">
                    {{ category }}
                  </a>
                </div><!-- .post--category -->
                {% endif %}
                {% if tags.length > 1 %}
                <div class="note--tags">
                  <span>Tagged: </span>
                  {%- for tag in tags -%}
                  {% if tag != 'note' and tag != 'checkin' %}
                  <a class="p-category" href="/tagged/{{ tag | slugify }}/" title="Browse other posts tagged with {{ tag }}" rel="tag">
                    {{ tag }}
                  </a>
                  {% endif %}
                  {%- endfor -%}

                </div><!-- .post--tags -->
                {% endif %}
              </div><!-- .post-meta -->
            </header>

            {% include "partials/hcard.liquid" %}

            <section class="e-content" itemscope itemtype="https://schema.org/Place">
              <div itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ latitude }}" />
                <meta itemprop="longitude" content="{{ longitude }}" />
              </div>
              <p class="p-name" itemprop="name">
                Checked in at:
                {% if url %}
                <a href="{{ url }}">{{ title }}</a>
                {% else %}
                {{ title }}
                {% endif %}
              </p>
              <div id="map"></div>
              <div class="note--copy p-content">
                {{ content }}
              </div>
            </section>

            <link rel="preload" href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" as="style" crossorigin="anonymous">
            <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" media="all" onload="this.media='all'" fetchpriority="low">
            <noscript>
              <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" media="screen">
            </noscript>
            <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.js" defer></script>
            <script>
              window.addEventListener('load', (event) => {
                // Load the api key
                mapboxgl.accessToken = "{{ keys.mapBox }}";

                let mapStyle = 'mapbox://styles/mapbox/light-v11';
                if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                  mapStyle = 'mapbox://styles/mapbox/dark-v11';
                }

                // Create instance of a map
                const map = new mapboxgl.Map({
                  container: 'map', // container ID
                  style: mapStyle,
                  center: [{{ longitude }}, {{ latitude }}], // starting position [lng, lat]. Note that lat must be set between -90 and 90
                  zoom: 16 // starting zoom
                });

                // Add some controls
                const nav = new mapboxgl.NavigationControl();
                map.addControl(nav, 'top-left');
                map.addControl(new mapboxgl.FullscreenControl({
                  container: document.querySelector('map')
                }));

                // Drop the pin
                new mapboxgl.Marker({
                  color: "#36d02f"
                }).setLngLat([{{ longitude }}, {{ latitude }}]).addTo(map);

                map.resize();
              });
            </script>
            <script type="application/ld+json">
              {
                "@context": "https://schema.org",
                "@type": "Place",
                "geo": {
                  "@type": "GeoCoordinates",
                  "latitude": "{{ latitude }}",
                  "longitude": "{{ longitude }}"
                },
                "name": "{{ title }}"
              }
              };
            </script>
          </div><!-- .note--content -->
        </div><!-- .note--main -->
      </article><!-- .note--main -->

      {% if related %}
        <aside class="related">
          <h2>Related Content</h2>
          <ul>
          {% assign posts = related | getRelated: collections.all %}
          {% for post in posts %}
            <li>
              {% if post.data.category == 'article' %}
                {% assetIcon 'article' %}
                Also written -

              {% elsif post.data.category == 'note' %}
                {% assetIcon "note" %}
                Noted about -

              {% elsif post.data.category == 'rsvp' %}
                {% assetIcon "rsvp" %}
                Attended -

              {% elsif post.data.category == 'reply' %}
                {% assetIcon "reply" %}
                Commented to -

              {% elsif post.data.category == 'signup' %}
                {% assetIcon "signup" %}
                Original signup -

              {% elsif post.data.category == 'exercise' %}
                {% assetIcon "stopwatch" %}
                Training -

              {% elsif post.data.category == 'race' %}
                {% assetIcon "trophy" %}
                Race file -

              {% elsif post.data.category == 'checkin' %}
                {% assetIcon "checkin" %}
                Checked in -

              {% endif %}
              <a href="{{ post.url }}">
                {{ post.data.title }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </aside>
      {% endif %}

      {% include "partials/interactions.liquid" %}

    </main>

    {% include "partials/footer.liquid" %}

  </div><!-- .container -->

</body>

</html>
