<!doctype html>

<html lang="{{ metadata.locale }}" prefix="og: https://ogp.me/ns#">
  <!--! Hello you curious user, if it helps you can see the full code over on GitHub: {{ metadata.repo }} -->
  
  <head>
    <!-- GoatCounter -->
    <script data-goatcounter="https://adamchamberlin.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <!-- End GoatCounter -->
    {% include "partials/head.liquid" %}
  </head>
  
  <body>
    
    <a href="#skip" class="skip-link">Skip to main content</a>
    <div class="hfeed h-feed layout" role="document">
      {% include "partials/header.liquid" %}
      <main class="container main" id="#skip" tabindex="-1" data-input-path="{{ page.filePathStem }}">
        <div class="page">
          <header class="page--header">
            <h1 class="page--title p-name">{{ title }}</h1>
            <div class="tagline">
              {% if subhead %}
              <p>{{ subhead }}</p>
              {% endif %}
            </div><!-- .tagline -->
          </header><!-- .page--header -->
          {% include "partials/hcard.liquid" %}
          <div class="home--page">
            {{ content }}
          </div>
        </div><!-- .page--content -->
      </main>
      {% include "partials/footer.liquid" %}
    </div><!-- .container -->
  </body>

</html>