<!doctype html>
<html lang="{{ metadata.locale }}" prefix="og: https://ogp.me/ns#">
  <!--! Hello you curious user, if it helps you can see the full code over on GitHub: {{ metadata.repo }} -->
  <head>
    {% include "partials/head.liquid" %}
  </head>
  <body>
    <a href="#skip" class="skip-link">Skip to main content</a>
    <div class="hfeed h-feed layout" role="document">
      {% include "partials/header.liquid" %}
      <main class="container main" id="#skip" role="main" tabindex="-1" data-input-path="{{ page.filePathStem }}">
        <div class="hentry h-entry note--single">
          {% include "partials/hcard.liquid" %}
          <div class="note--main">
            <div class="note--content {% if category %}{{ category}}{% endif %}">
              <div class="note--meta">
                <div class="note--date">
                  <h1>
                    {% assetIcon "calendar" %}
                    <time class="dt-published" datetime="{{ page.date | dateHtmlString }}">
                      {{ page.date | dateLongDate }}
                    </time>
                  </h1>
                </div><!-- .post--date -->
                {% if tags.length > 1 %}
                  <div class="note--tags">
                    <span>Tagged: </span>
                    {%- for tag in tags -%}
                      {% if tag != 'note' %}
                        <a class="p-category" href="/tagged/{{ tag | slugify }}/" title="Browse other posts tagged with {{ tag }}">
                          {{ tag }}
                        </a>
                      {% endif %}
                    {%- endfor -%}
                  </div><!-- .post--tags -->
                {% endif %}
              </div><!-- .post-meta -->

              {% if category == 'videography' %}
                <p class="p-summary">
                  <a href="https://example.com" class="p-author h-card">Your Name</a>
                  RSVPs <span class="p-rsvp">yes</span>
                  to <a href="https://events.indieweb.org/example" class="u-in-reply-to">Event Name</a>
                </p>
              {% endif %}

              {% if category == 'reply' %}
                <p class="p-name">
                  In reply to: <a class="u-in-reply-to" href="{{ link }}" rel="in-reply-to">{{ to }}</a>
                </p>
                <div class="e-content">
                  {{ content }}
                </div>
              {% endif %}

              {% if category == 'rsvp' %}
                <p class="p-summary">
                  {% if rsvp == 'yes' %}
                    <span class="p-rsvp" value="yes">Yep,</span> <a href="{{ globals.url }}" class="p-author h-card">I'm</a> going to <a href="{{ link }}" class="u-in-reply-to">{{ title }}</a>.
                  {% elsif rsvp == 'no' %}
                    <span class="p-rsvp" value="no">Gutted,</span> <a href="{{ globals.url }}" class="p-author h-card">I</a> can not make it to <a href="{{ link }}" class="u-in-reply-to">{{ title }}</a>.
                  {% elsif rsvp == 'maybe' %}
                    <span class="p-rsvp" value="maybe">Hoping,</span> <a href="{{ globals.url }}" class="p-author h-card">I</a> can make it to <a href="{{ link }}" class="u-in-reply-to">{{ title }}</a>.

                  {% elsif rsvp == 'interested' %}
                    <a href="{{ link }}" class="u-in-reply-to">This</a> has <a href="{{ globals.url }}" class="p-author h-card">me</a> <span class="p-rsvp" value="interested">intrigued</span>.
                  {% else %}
                    <a href="{{ link }}" class="u-in-reply-to">{{ title }}</a>
                  {% endif %}
                </p>
                <div class="e-content">
                  {{ content }}
                </div>
              {% endif %}

            </div><!-- .note--content -->
            <div class="note--foter">
            </div><!-- .note--footer -->
          </div><!-- .note--main -->
          <section class="responses" id="responses">
            {% include "partials/webmentions.liquid" %}
          </section>
        </div><!-- .note -->
      </main>
      {% include "partials/footer.liquid" %}
    </div><!-- .container -->
  </body>
</html>
