<!doctype html>
<html lang="{{ metadata.locale }}" prefix="og: https://ogp.me/ns#">
<!--! Hello you curious user, if it helps you can see the full code over on GitHub: {{ metadata.repo }} -->

<head>
  {% include "partials/head.liquid" %}
</head>

<body>
  <a href="#skip" class="skip-link">Skip to main content</a>

  <div class="layout" role="document">

    {% include "partials/header.liquid" %}

    <main class="container main" id="#skip" role="main" tabindex="-1" data-input-path="{{ page.filePathStem }}">

      <article class="hentry h-entry note--single{% if category %} {{ category }}{% endif %}">
        <div class="note--main">
          <div class="note--content" itemprop="articleBody">

            <header>
              <div class="note--date">
                <h1>
                  {% assetIcon "calendar" %}
                  <time class="dt-published" datetime="{{ page.date | dateHtmlString }}" itemprop="datePublished">
                    <a href="{{ page.url }}" class="u-url">
                      {{ page.date | dateLongDate }}
                    </a>
                  </time>
                </h1>
              </div><!-- .post--date -->
              <div class="note--meta">
                {% if tags.length > 1 %}
                <div class="note--tags">
                  {% assetIcon "tag" %}
                  {%- for tag in tags -%}
                  {% if tag != 'note' and tag != 'signup' %}
                  <a class="p-category" href="/tagged/{{ tag | slugify }}/" rel="tag"
                    title="Browse other posts tagged with {{ tag }}">
                    {{ tag }}
                  </a>
                  {% endif %}
                  {%- endfor -%}
                </div><!-- .post--tags -->
                {% endif %}
                {% if category %}
                <div class="note--category">
                  {% assetIcon "folder" %}
                  <a class="p-category" href="/category/{{ category | slugify }}/" title="Browse other posts in the {{ category }} category">
                    {{ category }}
                  </a>
                </div><!-- .post--category -->
              {% endif %}
              </div><!-- .post-meta -->
            </header>

            {% if category == 'note' %}
            {% include "partials/hcard.liquid" %}
            <section class="e-content">
              <p class="p-name">
                {{ title }}
              </p>
              <div class="note--copy p-content">
                {{ content }}
              </div>
            </section>
            {% endif %}

            {% if category == 'reply' %}
            {% include "partials/hcard.liquid" %}
            <section class="e-content">
              <p class="p-name">
                In reply to: <a class="u-in-reply-to" href="{{ link }}" rel="in-reply-to">{{ title }}</a>
              </p>
              <div class="note--copy p-content">
                {{ content }}
              </div>
            </section>
            {% endif %}

            {% if category == 'rsvp' %}
            {% include "partials/hcard.liquid" %}
            <section class="e-content">
              <p class="p-summary">
                {% if rsvp == 'yes' %}
                <span class="p-rsvp" value="yes">Yes,</span> <a href="{{ globals.url }}" class="p-author h-card">I'm</a>
                going to <a href="{{ link }}" class="u-in-reply-to p-name">{{ title }}</a>.
                {% elsif rsvp == 'no' %}
                <span class="p-rsvp" value="no">Gutted,</span> <a href="{{ globals.url }}" class="p-author h-card">I</a>
                can not make it to <a href="{{ link }}" class="u-in-reply-to p-name">{{ title }}</a>.
                {% elsif rsvp == 'maybe' %}
                <span class="p-rsvp" value="maybe">Hoping,</span> <a href="{{ globals.url }}"
                  class="p-author h-card">I</a> can make it to <a href="{{ link }}" class="u-in-reply-to p-name">{{
                  title
                  }}</a>.
                {% elsif rsvp == 'interested' %}
                <a href="{{ link }}" class="u-in-reply-to p-name">This</a> has <a href="{{ globals.url }}"
                  class="p-author h-card">me</a> <span class="p-rsvp" value="interested">intrigued</span>.
                {% else %}
                <a href="{{ link }}" class="u-in-reply-to p-name">{{ title }}</a>
                {% endif %}
              </p>
              <div class="note--copy">
                {{ content }}
              </div>
            </section>
            {% endif %}

            {% if category == 'videography' %}

            {% endif %}

            {% if category == 'signup' %}
            {% include "partials/hcard.liquid" %}
            <section class="e-content">
              <p class="p-summary">
                Signed up for <a class="u-url p-name" href="{{ link }}">{{ title }}</a>
              </p>
              <p>
                Date: <time class="dt-start" datetime="{{ start | dateHtmlString }}">{{ start | dateLongDate }}</time>
              </p>
              <div class="note--copy p-content">
                {{ content }}
              </div>
            </section>
            {% endif %}

          </div><!-- .note--content -->
        </div><!-- .note--main -->
      </article><!-- .note--main -->
              <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.url | absoluteUrl }}"
          },
          "headline": "{{ title }}",
          "description": "{% if description %}{{ description }}{% else %}{{ title | metaDescription }}{% endif %}",
          "image": "{{ cover | absoluteUrl }}",
          "author": {
            "@type": "Person",
            "name": "{{ metadata.author.name }}",
            "url": "{{ globals.url }}"
          },
          "datePublished": "{{ page.date | dateHtmlString }}"
        }
        </script>

      <div class="responses" id="responses">
        {% include "partials/webmentions.liquid" %}
      </div>

    </main>

    {% include "partials/footer.liquid" %}

  </div><!-- .container -->

</body>

</html>
