<!doctype html>
<html lang="{{ metadata.locale }}" prefix="og: https://ogp.me/ns#">
  <head>
    {% include "partials/head.liquid" %}
  </head>
  <body>
    {% if metadata.env == "production" %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KM52M2F"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <div class="container">
      <a href="#skip" class="skip-link">Skip to main content</a>
      <header class="mast-head">
        {% include "partials/nav-header.liquid" %}
      </header><!-- .header -->
      <main id="#skip" tabindex="-1" data-input-path="{{ page.filePathStem }}">
        <section class="intro">
          <div class="intro--content">
            <h1 class="page-title">{{ title }}</h1>
              <div class="tagline">
                {% if kicker %}
                  <p>{{ kicker }}</p>
                {% endif %}
              </div><!-- .tagline -->
          </div><!-- .intro--content -->
        </section><!-- .intro -->
        <section class="page"><!-- .page -->
          <div class="page--content">
            {{ content }}
          </div><!-- .page--content -->
        </section><!-- .page -->
      </main>
      <footer class="mast-foot">
        {% include "partials/nav-footer.liquid" %}
      </footer><!-- .mast-foot -->
    </div><!-- .container -->
    {% include "partials/footer.liquid" %}
  </body>
</html>
