<!doctype html>
<html lang="{{ metadata.locale }}" prefix="og: https://ogp.me/ns#">
  <head>
    {% include "partials/head.liquid" %}
  </head>
  <body>
    {% if metadata.env == "production" %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KM52M2F"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <div class="container">
      <a href="#skip" class="skip-link">Skip to main content</a>
      <header class="mast-head">
        {% include "partials/nav-header.liquid" %}
      </header><!-- .header -->
      <main id="#skip" tabindex="-1" data-input-path="{{ page.filePathStem }}">
        <section class="intro">
          <div class="intro--content">
            <h1 class="post-title">{{ title }}</h1>
              <div class="tagline">
                <p>{{ tagline }}</p>
              </div><!-- .tagline -->
              <div class="post--meta">
                <div class="post--date">
                  <span>Date: </span>
                  <time class="postlist-date" datetime="{{ page.date | dateHtmlString }}">{{ page.date | dateReadable }}</time>
                </div><!-- .post--date -->
                {% if categories %}
                <div class="post--categories">
                  <span>Category: </span>
                  {%- for category in categories -%}
                    <a href="/category/{{ category | slugify }}/" title="Browse other posts in the {{ category }} category">
                      {{ category }}
                    </a>
                  {%- endfor -%}
                </div><!-- .post--categories -->
                {% endif %}
                {% if tags.length > 1 %}
                <div class="post--tags">
                  <span>Tagged: </span>
                  {%- for tag in tags -%}
                    {% if tag != 'post' %}
                      <a href="/tagged/{{ tag | slugify }}/" title="Browse other posts tagged with {{ tag }}">
                        {{ tag }}
                      </a>
                    {% endif %}
                  {%- endfor -%}
                </div><!-- .post--tags -->
                {% endif %}
                <div class="post--reading">
                  <span>Estimated: </span>
                  {{ content | timeReading }}
                </div><!-- .post-reading -->
              </div><!-- .post-meta -->
          </div><!-- .intro--content -->
        </section><!-- .intro -->
        <section class="post-single">
          <div class="post--content">
            {{ content }}
          </div><!-- .post--content -->
        </section><!-- .post-single -->
      </main>
      <footer class="mast-foot">
        {% include "partials/nav-footer.liquid" %}
      </footer><!-- .mast-foot -->
    </div><!-- .container -->
    {% include "partials/footer.liquid" %}
  </body>
</html>
