<!-- Title -->
<title>{% if title %}{{ title | metaTitle }}{% else %}{{ metadata.title }}{% endif %}</title>
<!-- Meta Details -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ metadata.author.name }}">
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ title | metaDescription }}{% endif %}">
{%- if noindex -%}
  <meta name="robots" content="noindex">
{%- else -%}
  <meta name="robots" content="index, follow">
{%- endif -%}
{% if tags.length > 0 %}
  <meta name="keywords" content="{{ tags | metaKeywords }}">
{% endif %}
<link rel="canonical" href="{{ page.url | absoluteUrl }}">
{% if globals.env == "production" %}
  <!-- Preloads -->
  <link rel="preload" type="font/woff2" href="{{ '/assets/fonts/plus-jakarta-sans-v8-latin-regular.woff2' | url }}" as="font" crossorigin="anonymous">
  <link rel="preload" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous">
  {% viteLinkStylesheetTags %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" media="all" onload="this.media='all'" fetchpriority="low">
  <noscript>
    {% viteLinkStylesheetTags %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" media="screen">
  </noscript>
{% endif %}
<!-- Icons and Feeds -->
<link rel="author self" href="{{ globals.url }}" />
<link rel="author" type="application/activity+json" href="https://adamchamberlin.info@adamchamberlin.info" >
<link rel="author" type="text/plain" href="{{ "/humans.txt" | absoluteUrl }}">
<link rel="alternate" type="application/rss+xml" href="{{ globals.rssFeed.path | absoluteUrl }}" title="{{ metadata.title }} RSS Feed">
<link rel="alternate" type="application/atom+xml" href="{{ globals.atomFeed.path | absoluteUrl }}" title="{{ metadata.title }} Atom Feed">
<link rel="alternate" type="application/json" href="{{ globals.jsonFeed.path | absoluteUrl }}" title="{{ metadata.title }} JSON Feed">
<link rel="icon" type="image/png" href="{{ "/assets/icons/favicon-96x96.png" | absoluteUrl }}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ "/assets/icons/web-app-manifest-192x192.png" | absoluteUrl }}" sizes="192x192">
<link rel="icon" type="image/svg+xml" href="{{ "/assets/icons/favicon.svg" | absoluteUrl }}">
<link rel="shortcut icon" href="{{ "/assets/icons/favicon.ico" | absoluteUrl }}">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="manifest" href="{{ "/web.manifest" | absoluteUrl }}">
<!-- OpenGraph -->
<meta property="og:site_name" content="{{ metadata.title }}">
<meta property="og:locale" content="en_GB" />
<meta property="og:logo" content="{{ metadata.author.image }}">
<meta property="og:title" content="{% if title %}{{ title | metaTitle }}{% else %}{{ metadata.title }}{% endif %}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ title | metaTitle }}{% endif %}">
<meta property="og:url" content="{{ page.url | absoluteUrl }}">
{% if date %}
  <meta property="og:type" content="article">
  <meta property="article:author" content="{{ metadata.author.name }}">
  <meta property="article:published_time" content="{{ page.date | dateISO }}">
  {% if tags.length > 0 %}
    {% for tag in tags %}
      <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}
  <meta property="og:image" content="{{ globals.url }}assets/ogi/{{ date | dateParse }}-{{ title | slugify }}.jpeg">
  <meta property="og:image:secure_url" content="{{ globals.url }}assets/ogi/{{ date | dateParse }}-{{ title | slugify }}.jpeg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
{% else %}
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ globals.url }}assets/images/og.png">
  <meta property="og:image:secure_url" content="{{ globals.url }}assets/images/og.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="780">
{% endif %}
<!-- Twitter -->
<meta name="twitter:title" content="{% if title %}{{ title }}{% else %}{{ metadata.title }}{% endif %}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@funkylarma">
<meta name="twitter:creator" content="@funkylarma">
<meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ title }}{% endif %}">
{% if date %}
  <meta name="twitter:image" content="{{ globals.url }}assets/ogi/{{ date }}-{{ title | slugify }}.jpeg">
{% else %}
  <meta name="twitter:image" content="{{ globals.url }}assets/images/og.png">
{% endif %}
<!-- Fediverse -->
<meta name="fediverse:creator" content="@funkylarma@mastodon.social">
<!-- Webmentions -->
<link rel="pingback" href="https://webmention.io/adamchamberlin.info/xmlrpc">
<link rel="webmention" href="https://webmention.io/adamchamberlin.info/webmention">
<!-- Generator -->
<meta name="generator" content="{{ eleventy.generator }}">
<!-- Checking local storage for theme settings -->
<script>
  const cachedTheme = localStorage.getItem('ac_theme');
  if (cachedTheme) {
    document.documentElement.dataset['ac_theme'] = cachedTheme;
  }
</script>

{% if hasCode %}
<!-- This is for use with eleventy-plugin-syntaxhighlight. -->
<link rel="preload" href="{{ '/assets/css/dracula-prism.min.css' | url }}" as="style" crossorigin="anonymous">
<link rel="stylesheet" href="{{ '/assets/css/dracula-prism.min.css' | url }}" media="all" onload="this.media='all'" fetchpriority="low">
<noscript>
  <link rel="stylesheet" href="{{ '/assets/css/dracula-prism.min.css' | url }}" media="screen">
</noscript>
{% endif %}
