---
layout: list.liquid
subhead: Where words fail, music speaks
pagination:
  data: collections.allContent
  size: 50
  reverse: true
permalink: /activity/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber }}/{% endif %}
eleventyComputed:
  title: "Activity Feed {% if pagination.pageNumber > 0 %} - Page {{ pagination.pageNumber }}{% endif %}"
---

<div class="activity--list--content">

  {%- for post in pagination.items -%}

    {% if post.data.category == 'article' %}
      <article class="post h-entry hentry">
        <h2 class="p-name">
          {% assetIcon "article" %}
          Wrote -
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Wrote {{ post.data.to }}">
            {{ post.data.title }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'note' %}
      <article class="note h-entry hentry">
        <h2 class="p-name">
          {% assetIcon "note" %}
          Noodled about -
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Continue to read {{ post.data.title }}">
            {{ post.data.title }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'reply' %}
      <article class="reply h-entry hentry">
        <h2 class="p-name">
          {% assetIcon "reply" %}
          Replied to -
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Replied to {{ post.data.to }}">
            {{ post.data.to }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'rsvp' %}
    <article class="reply h-entry hentry">
      <h2 class="p-name">
        {% assetIcon "rsvp" %}
        RSVP'd to -
        <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="RSVP'd to {{ post.data.title }}">
          {{ post.data.title }}
        </a>
      </h2>
      <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
    </article>

    {% elsif post.data.category == 'videography' %}
      <article class="post h-entry hentry">
        <h2 class="p-name">
          {% assetIcon "video" %}
          Shot -
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="View video">
            {{ post.data.title }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'photography' %}
      <article class="post h-entry hentry">
        <h2 class="p-name">
          Snapped -
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="View photo">
            {{ post.data.to }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'checkin' %}
      <article class="checkin h-entry hentry">
        <h2 class="p-name">
          {% assetIcon "checkin" %}
          Checked in at -
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Checked in on {{ post.date | dateLongDate }}">
            {{ post.data.title }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'movie' %}
      <article class="checkin h-entry hentry">
        <h2 class="p-name">
          {% assetIcon "movie" %}
          Watched -
<<<<<<< HEAD
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Watched on {{ post.date | dateLongDate }}">
=======
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Checked in on {{ post.date | dateLongDate }}">
>>>>>>> master
            {{ post.data.title }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'listen' %}
      <article class="checkin h-entry hentry">
        <h2 class="p-name">
          {% assetIcon "music" %}
          Listened to -
<<<<<<< HEAD
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Listened on {{ post.date | dateLongDate }}">
=======
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Checked in on {{ post.date | dateLongDate }}">
>>>>>>> master
            {{ post.data.title }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'toot' %}
      <article class="checkin h-entry hentry">
        <h2 class="p-name">
          {% assetIcon "tooted" %}
          Tooted -
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Checked in on {{ post.date | dateLongDate }}">
            {{ post.data.title | strip_html | truncate: 50 }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% else %}
      <article class="h-entry hentry">
        <h2 class="p-name">
          {% assetIcon "unknown" %}
          Mumbled about -
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="View Item">
            {{ post.data.title }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>
    {% endif %}

  {%- endfor -%}

</div><!-- .post-list-content -->

<section class="pagination">
  <div class="pagination--content">
    <nav id="post--pagination" class="post--pagination" aria-labelledby="post--pagination">
      <div class="previous-posts">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" title="Head to the future">« Newer Posts</a>
        {% endif %}
      </div><!-- .previous-posts -->
      <div class="next-posts">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" title="Go back in time">Older Posts »</a>
        {% endif %}
      </div><!-- .next-posts -->
    </nav><!-- .post-pagination -->
  </div><!-- .pagination-content -->
</section><!-- .pagination -->
