---
eleventyExcludeFromCollections: true
layout: default.liquid
templateEngineOverride: njk
permalink: "/archive/"
eleventyComputed:
  title: Archives
  filter:
  - page
---

<div class="site-intro">
  <div class="site-intro-content">
    <h1 class="site-title">{{ title }}</h1>
  </div><!-- .content -->
</div><!-- .site-intro -->

<section class="page-single">

  <!-- Tags -->
  <div class="tag-list-content">
    <h2>By Tag</h2>
    <div class="tag-cloud">
      {%- for tag, val in collections.tagList | dictsort -%}
        <a href="/tagged/{{tag}}" title="Browse {{ collections[tag].length }} post{% if collections[tag].length > 1 %}s{% endif %}">
          <div class="tag">
            {{ tag }}
            <div class="post-count">
              - {{ collections[tag].length }} post{% if collections[tag].length > 1 %}s{% endif %}
            </div>
          </div><!-- .tag -->
        </a>
      {% endfor %}
    </div>
  </div><!-- .content -->

  <!-- Categories -->
  <div class="category-list-content ">
    <h2>By Category</h2>
    <div class="category-cloud">
      {%- for cat, val in collections.categoryList | dictsort -%}
        <a href="/category/{{cat}}" title="Browse {{ collections.categoryList[cat].length }} post{% if collections[tag].length > 1 %}s{% endif %}">
          <div class="category">
            {{ cat }}
            <div class="post-count">
             - {{ collections.categoryList[cat].length }} post{% if collections.categoryList[cat].length > 1 %}s{% endif %}
            </div>
          </div><!-- .category -->
        </a>
      {% endfor %}
    </div>
  </div><!-- .content -->

  <div class="archive-list-content">
    <h2>By Date</h2>
    {% for year, yearPosts in collections.postsByYear %}
      <h3>{{ year }}</h3>
      <ul>
        {% for post in yearPosts | reverse %}
          <li class="post">
            <a href="{{ post.url }}" title="Read post" class="post-link">
              {{ post.data.title }}
            </a>
            <div class="post-date">
              - <time class="postlist-date" datetime="{{ post.date | dateHtmlString }}">{{ post.date | readableDate }}</time>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div><!-- .content -->
</section> <!-- End post list -->
