---
layout: page.liquid
pagination:
  data: collections.categoryList
  size: 1
  alias: category
  generatePageOnEmptyData: true
permalink: '/category/{{ category | slugify }}/'
eleventyComputed:
  title: 'Category: {{ category }}'
  description: "Archive page for the '{{ category }}' category"
  kicker: 'These are all the posts listed under the category of "{{ category }}"'
---
<div class="archive-list">
  <ul>
  {%- for post in collections.categoryList[category] reversed -%}
    <li class="post h-entry">
      <a class="post-link u-url" href="{{ post.url }}" title="Read post">
        <span class="p-name">{{ post.data.title }}</span>
      </a>
      <div class="post-date">
        - <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateReadable }}</time>
      </div>
    </li>
  {%- endfor -%}
  </ul>
</div>
