---
layout: page.liquid
eleventyExcludeFromCollections: true
pagination:
  data: collections.categoryList
  size: 1
  alias: category
  generatePageOnEmptyData: true
permalink: '/category/{{ category | slugify }}/'
eleventyComputed:
  title: 'Category: {{ category | capitaliseFirstLetter }}'
  description: "Archive page for the '{{ category | capitaliseFirstLetter }}' category"
  subhead: 'These are all the posts listed under the category of "{{ category }}"'
---

{% if category == "article" %}
  <div class="archive--list">
    <div class="h-feed">
      {% include "partials/hcard.liquid" %}
      <ul class="archive--feed">
      {% for year in collections.articleArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Wrote <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif  category == "note" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.noteArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif  category == "videography" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.videographyArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Shot <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif  category == "photography" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.photographyArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Snapped <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif  category == "exercise" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.exerciseArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Went <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif  category == "race" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.raceArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Raced <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif category == "checkin" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.checkinArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Checked in at <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif category == "reply" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.replyArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Replied to <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif category == "rsvp" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.rsvpArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - RSVP'd to <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif category == "event" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.eventArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Signed up for <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif category == "bookmark" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.bookmarkArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Bookmarked <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% elsif category == "jam" %}
  <div class="archive-list">
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.jamArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - Currently vibing <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->

{% else %}
  <div class="archive-list">
    <p>Something has gone wrong with this category, so here is all the posts in one big list.</p>
    <div class="h-feed">
      <ul class="archive--feed">
      {% for year in collections.contentArchive %}
      <li class="archive--years">
        <div class="archive--year">
          <h2 id="{{ year.title }}">{{ year.title }}</h2>
        </div>
        <ul class="archive--months">
        {% for month in year.months %}
          <div class="archive--month">
            <h3>{{ month.title }}</h3>
          </div>
          <ul class="archive--entries">
          {% for entry in month.entries %}
            <li class="h-entry">
              <time class="dt-published" datetime="{{ entry.date }}">
                {{ entry.date }}
              </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div><!-- .archive-list -->
{% endif %}
