---
layout: page.liquid
pagination:
  data: collections.categoryList
  size: 1
  alias: category
  generatePageOnEmptyData: true
permalink: "category/{{ category | slugify }}/"
noindex: true
eleventyComputed:
  title: "Category: {{ category }}"
  description: "Archive page for the '{{ category }}' category"
  tagline: These are all the posts listed under the category of "{{ category }}"
---
<div class="archive-list">
  <ul>
  {%- for post in collections.categoryList[category] reversed -%}
    <li class="post">
      <a href="{{ post.url }}" title="Read post" class="post-link">
        {{ post.data.title }}
      </a>
      <div class="post-date">
        - <time class="postlist-date" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateReadable }}</time>
      </div>
    </li>
  {%- endfor -%}
  </ul>
</div>
