---
layout: home.liquid
title: "Adam Chamberlin"
subhead: "Consummate Athlete And DOM Element Wrangler."
description: "The personal website of Adam Chamberlin"
permalink: /
tags:
  - page
---

<div class="welcome">
  <p class="h2">
    Hi there,
  </p>
  <p>
    My name is Adam and this is my personal website and domain.
  </p>
  <p>
    I'm a web developer based in the UK. I'm passionate about the open web and a massive fan of the IndieWeb.
    You can read more <a href="/about/">about</a> who I am, what I <a href="/uses/">use</a>, or what I'm up to <a
    href="/now/">now</a>.
  </p>
</div>

<div class="headshot">
  <img
    src="/assets/images/headshot.webp"
    alt="Photograph of Adam Chamberlin in the outside working space at The Mackman Group"
    sizes="(min-width: 1220px) 398px, (min-width: 920px) calc(53.57vw - 245px), (min-width: 720px) calc(40vw + 38px), (min-width: 420px) calc(33.21vw - 34px), calc(100vw - 34px)"
    width="200"
    height="200"
    loading="lazy"
  />
</div>

<hr />

<div class="articles">
  <h2>Latest Articles</h2>
  <ul>
    {% for post in collections.homePage.acticleList %}
    <li class="h-entry hentry">
      <div class="post--content">
        <h3 class="post--title p-name">
          <a href="{{ post.url }}" class="post-link u-url" rel="bookmark">
            {{ post.data.title | escape }}
          </a>
        </h3>
        <div class="post--meta">
          <div class="post--date">
            {% assetIcon "calendar" %}
            <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
              {{ post.date | dateLongDateShortMonth }}
            </time>
          </div>
          {% if post.data.tags.length > 1 %}
          <div class="post--tags">
            {% assetIcon "tags" %}
            {%- for tag in post.data.tags -%}
            {% if tag != 'article' %}
            <a class="p-category" href="/tagged/{{ tag | slugify }}/" title="Browse other posts tagged with {{ tag }}">
              {{ tag }}
            </a>
            {% endif %}
            {%- endfor -%}
          </div><!-- .post-tags -->
          {% endif %}
          <div class="post--reading">
            {% assetIcon "hourglass" %}
            {{ post.templateContent | timeReading }}
          </div><!-- .post-reading -->
        </div>
      </div>
      {% if post.data.cover %}
      <div class="post--image">
        <img src="{{ post.data.cover }}"
             alt="Cover image for article {{ post.data.title | escape }}"
             sizes="300px"
             loading="lazy" />
      </div><!-- .post-image -->
      {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  <a href="/articles/" class="more">View all articles</a>
</div>

<div class="notes">
  <h2>Latest Notes</h2>
  <ul class="activity--list--content">
    {% for post in collections.homePage.noteList %}
    <li class="h-entry hentry">
      <div>
        {% assetIcon "note" %}
        <a href="{{ post.url }}" class="post-link u-url" rel="bookmark">
          {{ post.data.title | escape }}
        </a>
      </div>
      <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
        {{ post.date | dateLongDateShortMonth }}
      </time>
    </li>
    {% endfor %}
  </ul>
  <a href="/notes/" class="more">View all notes</a>
</div>

<div class="photos">
  <h2>Latest Photo</h2>
  {% for photo in collections.homePage.latestPhoto %}
    <img src="{{ photo.data.cover }}" alt="{{ photo.data.title | escape }}" />
    <a href="{{ photo.url }}">
      {{ photo.data.title | escape }}
    </a>
  {% endfor %}
</div>

<div class="replies">
  <h2>Recent Replies</h2>
  <ul class="activity--list--content">
    {% for post in collections.homePage.commentList %}
    <li class="h-entry hentry">
      <div>
        {% assetIcon "reply" %}
        <a href="{{ post.url }}" class="post-link u-url" rel="bookmark">
          {{ post.data.title | escape }}
        </a>
      </div>
      <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
        {{ post.date | dateLongDateShortMonth }}
      </time>
    </li>
    {% endfor %}
  </ul>
  <a href="/category/reply/" class="more">View all relies</a>
</div>

<div class="activity">
  <h2>Recent Activity</h2>
  <ul class="activity--list--content">
    {% for post in collections.homePage.activityList %}

      {% if post.data.category == 'book' %}
        <li class="h-entry hentry">
          <div>
            {% assetIcon "book" %}
            Read - <a href="{{ post.url }}" class="post-link u-url" rel="bookmark">{{ post.data.title | escape | strip_html | truncate: 40 }}</a>
          </div>
          <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
            {{ post.date | dateLongDateShortMonth }}
          </time>
        </li>
      {% endif %}

      {% if post.data.category == 'bookmark' %}
        <li class="h-entry hentry">
          <div>
            {% assetIcon "bookmark" %}
            Bookmarked - <a href="{{ post.data.url }}" class="post-link u-url"rel="noopener noreferrer">{{ post.data.title | escape | strip_html | truncate: 40 }}</a>
          </div>
          <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
            {{ post.date | dateLongDateShortMonth }}
          </time>
        </li>
      {% endif %}

      {% if post.data.category == 'exercise' %}
        <li class="h-entry hentry">
          <div>
            {% assetIcon "stopwatch" %}
            Went {{ post.data.sport }} - <a href="{{ post.url }}" class="post-link u-url" rel="bookmark">{{ post.data.title | escape | strip_html | truncate: 40 }}</a>
          </div>
          <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
            {{ post.date | dateLongDateShortMonth }}
          </time>
        </li>
      {% endif %}

      {% if post.data.category == 'jam' %}
        <li class="h-entry hentry">
          <div>
            {% assetIcon "jam" %}
            Jammin to - <a href="{{ post.url }}" class="post-link u-url" rel="bookmark">{{ post.data.title | escape | strip_html | truncate: 40 }}</a> by {{ post.data.artist | escape | strip_html | truncate: 40 }}
          </div>
          <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
            {{ post.date | dateLongDateShortMonth }}
          </time>
        </li>
      {% endif %}

      {% if post.data.category == 'like' %}
        <li class="h-entry hentry">
          <div>
            {% assetIcon "heart" %}
            Liked - <a href="{{ post.data.url }}" class="post-link u-url" rel="noopener noreferrer">{{ post.data.title | escape | strip_html | truncate: 40 }}</a>
          </div>
          <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
            {{ post.date | dateLongDateShortMonth }}
          </time>
        </li>
      {% endif %}

      {% if post.data.category == 'movie' %}
        <li class="h-entry hentry">
          <div>
            {% assetIcon "movie" %}
            Watched - <a href="{{ post.url }}" class="post-link u-url" rel="bookmark">{{ post.data.title | escape | strip_html | truncate: 40 }}</a>
          </div>
          <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
            {{ post.date | dateLongDateShortMonth }}
          </time>
        </li>
      {% endif %}

      {% if post.data.category == 'repost' %}
        <li class="h-entry hentry">
          <div>
            {% assetIcon "boost" %}
            Boosted - <a href="{{ post.data.url }}" class="post-link u-url" rel="noopener noreferrer">{{ post.data.title | escape | strip_html | truncate: 40 }}</a>
          </div>
          <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
            {{ post.date | dateLongDateShortMonth }}
          </time>
        </li>
      {% endif %}

      {% if post.data.category == 'rsvp' %}
        <li class="h-entry hentry">
          <div>
            {% assetIcon "rsvp" %}
            RSVP'd - <a href="{{ post.url }}" class="post-link u-url" rel="bookmark">{{ post.data.title | escape | strip_html | truncate: 40 }}</a>
          </div>
          <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
            {{ post.date | dateLongDateShortMonth }}
          </time>
        </li>
      {% endif %}

      {% if post.data.category == 'signup' %}
        <li class="h-entry hentry">
          <div>
            {% assetIcon "calendar" %}
            Signed up for - <a href="{{ post.url }}" class="post-link u-url" rel="bookmark">{{ post.data.title | escape | strip_html | truncate: 40 }}</a>
          </div>
          <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
            {{ post.date | dateLongDateShortMonth }}
          </time>
        </li>
      {% endif %}

      {% if post.data.category == 'videography' %}
        <li class="h-entry hentry">
          <div>
            {% assetIcon "video" %}
            Shot a video - <a href="{{ post.url }}" class="post-link u-url" rel="bookmark">{{ post.data.title | escape | strip_html | truncate: 40 }}</a>
          </div>
          <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
            {{ post.date | dateLongDateShortMonth }}
          </time>
        </li>
      {% endif %}

    {% endfor %}
  </ul>
  <a href="/activity/" class="more">View all activity</a>
</div>

<div class="checkin">
  <h2>Latest Check In</h2>
  <div id="map"></div>
  <link rel="prefetch" href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" as="style" crossorigin="anonymous">
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" media="all"
    onload="this.media='all'" fetchpriority="low">
  <noscript>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" media="screen">
  </noscript>
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.js" defer></script>
  {% for post in collections.homePage.lastSeen %}
  <script>
    window.addEventListener('load', (event) => {
      // Load the api key
      mapboxgl.accessToken = "{{ keys.mapBox }}";

      let mapStyle = 'mapbox://styles/mapbox/light-v11?optimize=true';
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        mapStyle = 'mapbox://styles/mapbox/dark-v11?optimize=true';
      }

      // Create instance of a map
      const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: mapStyle,
        center: [{{ post.data.longitude }}, {{ post.data.latitude }}], // starting position [lng, lat]. Note that lat must be set between -90 and 90
      zoom: 16 // starting zoom
      });

    // Drop the pin
    new mapboxgl.Marker({ color: "#36d02f" }).setLngLat([{{ post.data.longitude }}, {{ post.data.latitude }}]).addTo(map);

    map.resize();
    });
  </script>
  <a href="{{ post.url }}">
    {{ post.data.title }}
  </a>
  {% endfor %}
</div>
