---
layout: home.liquid
title: "Adam Chamberlin"
subhead: "Consummate Athlete And DOM Element Wrangler."
description: "The personal website of Adam Chamberlin"
permalink: /

---

<div class="welcome">
  <p class="h2">
    Hi,
  </p>
  <p>
    My name is Adam and this is my personal website and domain.
  </p>
  <p>
    I'm a web developer based in the UK. I'm passionate about the open web and a huge fan of the IndieWeb.<br>
    You can read more <a href="/about/">about</a> who I am, what I <a href="/use/">use</a> or what I'm upto <a
      href="/now/">now</a>.
  </p>
</div>

<div class="headshot">
  <img src="/assets/images/headshot.webp" alt="Adam Chamberlin" width="200" height="200" loading="lazy" />
</div>

<hr />

<div class="articles">
  <h2>Latest Articles</h2>
  <ul>
    {% for post in collections.homePage.acticleList %}
    <li>
      <div class="post--content">
        <h3 class="post--title">
          <a href="{{ post.url }}">
            {{ post.data.title }}
          </a>
        </h3>
        <div class="post--meta">
          <div class="post--date">
            <span>Date: </span>
            <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
              {{ post.date | dateLongDateShortMonth }}
            </time>
          </div>
          {% if post.data.tags.length > 1 %}
          <div class="post--tags">
            <span>Tagged: </span>
            {%- for tag in post.data.tags -%}
            {% if tag != 'article' %}
            <a class="p-category" href="/tagged/{{ tag | slugify }}/" title="Browse other posts tagged with {{ tag }}">
              {{ tag }}
            </a>
            {% endif %}
            {%- endfor -%}
          </div><!-- .post-tags -->
          {% endif %}
          <div class="post--reading">
            <span>Estimated: </span>
            {{ post.templateContent | timeReading }}
          </div><!-- .post-reading -->
        </div>
      </div>
      {% if post.data.cover %}
      <div class="post--image">
        <img src="{{ post.data.cover }}" alt="Cover image for {{ post.data.title }}" loading="lazy" />
      </div><!-- .post-image -->
      {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  <a href="/articles/" class="more">View all articles</a>
</div>

<div class="notes">
  <h2>Latest Notes</h2>
  <ul>
    {% for post in collections.homePage.noteList %}
    <li>
      <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
        {% assetIcon "note" %}
        {{ post.date | dateLongDateShortMonth }}
      </time>
      <a href="{{ post.url }}">
        {{ post.data.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
  <a href="/notes/" class="more">View more notes</a>
</div>

<div class="comments">
  <h2>Recent Replies</h2>
  <ul>
    {% for post in collections.homePage.commentList %}
    <li>
      <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
        {% assetIcon "calendar" %}
        {{ post.date | dateLongDateShortMonth }}
      </time>
      <a href="{{ post.url }}">
        {{ post.data.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="activity">
  <h2>Recent Activity</h2>
  <ul class="activity--list--content">
    {% for post in collections.homePage.activityList %}
    <li>
      <div>
        {% if post.data.category == 'event' %}
        {% assetIcon "calendar" %}
        Signed up for -
        {% elsif post.data.category == 'rsvp' %}
        {% assetIcon "rsvp" %}
        RSVP'd to -
        {% elsif post.data.category == 'videography' %}
        {% assetIcon "video" %}
        Shot a video -
        {% else %}
        {% assetIcon "unknown" %}
        Noodled about -
        {% endif %}
        <a href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </div>
      <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">
        {{ post.date | dateLongDateShortMonth }}
      </time>
    </li>
    {% endfor %}
  </ul>
  <a href="/activity/" class="more">View all activity</a>
</div>

<div class="checkin">
  <h2>Last Checked In At</h2>
  <div id="map"></div>
  <link rel="preload" href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" as="style"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" media="all"
    onload="this.media='all'" fetchpriority="low">
  <noscript>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" media="screen">
  </noscript>
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.js" defer></script>
  {% for post in collections.homePage.lastSeen %}
  <script>
    window.addEventListener('load', (event) => {
      // Load the api key
      mapboxgl.accessToken = "{{ keys.mapBox }}";

      let mapStyle = 'mapbox://styles/mapbox/light-v11?optimize=true';
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        mapStyle = 'mapbox://styles/mapbox/dark-v11?optimize=true';
      }

      // Create instance of a map
      const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: mapStyle,
        center: [{{ post.data.longitude }}, {{ post.data.latitude }}], // starting position [lng, lat]. Note that lat must be set between -90 and 90
      zoom: 16 // starting zoom
      });

    // Drop the pin
    new mapboxgl.Marker({ color: "#36d02f" }).setLngLat([{{ post.data.longitude }}, {{ post.data.latitude }}]).addTo(map);

    map.resize();
    });
  </script>
  <a href="{{ post.url }}">
    {{ post.data.title }}
  </a>
  {% endfor %}
</div>