---
layout: default.liquid
title: "Adam Chamberlin"
pagination:
  data: collections.post
  size: 10
  reverse: true
eleventyNavigation:
  key: Home
  order: 1
permalink: /{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber }}/{% endif %}
eleventyComputed:
  title: "Adam Chamberlin {% if pagination.pageNumber > 0 %} - Page {{ pagination.pageNumber }}{% endif %}"
---

<div class="site-intro">
  <div class="site-intro-content">
    <h1 class="site-title">{{ metadata.title }}</h1>
    <div class="site-tagline">
      <p>{{ metadata.tagline }}</p>
    </div><!-- .site-tagline -->
  </div><!-- .content -->
</div><!-- .site-intro -->

<section class="post-list">
  <div class="post-list-content">
    {%- for post in pagination.items -%}
      {% include "partials/article.liquid" %}
    {%- endfor -%}
  </div><!-- .content -->
</section> <!-- End post list -->

<section class="pagination">
  <div class="pagination-content">
    <nav class="post-pagination" aria-labelledby="post-pagination">
      <div class="previous-posts">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}">« Newer Posts</a>
        {% endif %}
      </div><!-- .previous-posts -->
      <div class="next-posts">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}">Older Posts »</a>
        {% endif %}
      </div><!-- .next-posts -->
    </nav><!-- .post-pagination -->
  </div><!-- .pagination-content -->
</section><!-- .pagination -->
