---
layout: default.liquid
title: "Adam Chamberlin"
pagination:
  data: collections.post
  size: 10
  reverse: true
eleventyNavigation:
  key: Home
  order: 1
permalink: /{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber }}/{% endif %}
eleventyComputed:
  title: "Adam Chamberlin {% if pagination.pageNumber > 0 %} - Page {{ pagination.pageNumber }}{% endif %}"
---

<section class="intro">
  <div class="intro--content">
    <h1>{{ metadata.title }}</h1>
      <div class="tagline">
        <p>{{ metadata.description }}</p>
      </div><!-- .tagline -->
  </div><!-- .intro--content -->
</section><!-- .intro -->
<section class="post-list">
  <div class="post-list--content">
    {%- for post in pagination.items -%}
    <article class="post">
      {% if post.data.cover %}
        <div class="post--image">
          <img src="{{ post.data.cover }}"
           alt="Cover image for {{ post.data.title }}"
           sizes="(min-width: 880px) 800px, calc(95vw - 17px)"
           width="936"
          {%- if forloop.first -%}loading="eager" fetchpriority="high"{% endif %}>
        </div><!-- .post--image -->
      {% endif %}
      <div class="post--content">
        <div class="post--head">
          <h2>
            <a href="{{ post.url }}" title="Continue to read {{ post.data.title }}" class="post-link">
              {% if post.data.title %}
                {{ post.data.title }}
                {% if post.data.draft %}
                 <span class="draft">- Draft</span>
                {% endif %}
              {% else %}
                <code>{{ post.url }}</code>
              {% endif %}
            </a>
          </h2>
          <div class="post--meta">
            <div class="post--date">
              <span>Date: </span>
              <time class="postlist-date" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateReadable }}</time>
            </div><!-- .post--date -->
            {% if post.data.categories %}
            <div class="post--categories">
              <span>Category: </span>
              {%- for category in post.data.categories -%}
                <a href="/category/{{ category | slugify }}/" title="Browse other posts in the {{ category }} category">
                  {{ category }}
                </a>
              {%- endfor -%}
            </div><!-- .post--categories -->
            {% endif %}
            {% if post.data.tags.length > 1 %}
            <div class="post--tags">
              <span>Tagged: </span>
              {%- for tag in post.data.tags -%}
                {% if tag != 'post' %}
                  <a href="/tagged/{{ tag | slugify }}/" title="Browse other posts tagged with {{ tag }}">
                    {{ tag }}
                  </a>
                {% endif %}
              {%- endfor -%}
            </div><!-- .post--tags -->
            {% endif %}
            <div class="post--reading">
              <span>Estimated: </span>
              {{ post.templateContent | timeReading }}
            </div><!-- .post-reading -->
          </div><!-- .post-meta -->
        </div>
        {% if post.data.categories contains "writing" %}
        <div class="post--excerpt">
          <p>
            {% if post.data.summary %}
              {{ post.data.summary }}
            {% else %}
              {{ post.templateContent | postExcerpt }}
            {% endif %}
          </p>
          <div class="continue-reading call-to-action">
            <a href="{{ post.url }}" title="Continue to read {{ post.data.title }}">Continue to read</a>
          </div><!-- .continue-reading -->
        </div><!-- .post-excerpt -->
        {% elsif post.data.categories contains "videography" %}
          <div class="post--excerpt">
          <div class="continue-reading call-to-action">
            <a href="{{ post.url }}" title="Continue to watch {{ post.data.title }}">Continue to watch</a>
          </div><!-- .continue-reading -->
        {% else %}
          <div class="post--excerpt">
          <div class="continue-reading call-to-action">
            <a href="{{ post.url }}" title="Continue to {{ post.data.title }}">Continue</a>
          </div><!-- .continue-reading -->
        {% endif %}
      </div><!-- .post--content -->
    </article>
    {%- endfor -%}
  </div><!-- .post-list--content -->
</section><!-- .post-list -->

<section class="pagination">
  <div class="pagination--content">
    <nav id="post--pagination" class="post--pagination" aria-labelledby="post--pagination">
      <div class="previous-posts">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" title="Head to the future">« Newer Posts</a>
        {% endif %}
      </div><!-- .previous-posts -->
      <div class="next-posts">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" title="Go back in time">Older Posts »</a>
        {% endif %}
      </div><!-- .next-posts -->
    </nav><!-- .post-pagination -->
  </div><!-- .pagination-content -->
</section><!-- .pagination -->
