---
layout: list.liquid
title: Notes Feed
subhead: These are the short form items of content.
description: This page is an archive of all the notes written on the site. This includes short form posts, RSVP's, checkins and replies.
pagination:
  data: collections.note
  size: 20
  reverse: true
permalink: /notes/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber }}/{% endif %}
eleventyComputed:
  title: "Notes Feed {% if pagination.pageNumber > 0 %} - Page {{ pagination.pageNumber }}{% endif %}"
---

<div class="activity--list--content">

  {%- for post in pagination.items -%}

    {% if post.data.category == 'videography' %}
      <article class="checkin h-entry hentry">
        <h2 class="p-name">
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Filmed on {{ post.date | dateLongDate }}">
            {% assetIcon "video" %}
            {{ post.data.title }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'photography' %}
      <article class="photography h-entry hentry">
        <h2 class="p-name">
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Filmed on {{ post.date | dateLongDate }}">
            {% assetIcon "photo" %}
            {{ post.data.title }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'checkin' %}
      <article class="checkin h-entry hentry">
        <h2 class="p-name">
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Checked in on {{ post.date | dateLongDate }}">
            {% assetIcon "checkin" %}
            Checked in at {{ post.data.title }}
          </a>
        </h2>
        <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
      </article>

    {% elsif post.data.category == 'reply' %}
      <article class="reply h-entry hentry">
      <h2 class="p-name">
        <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Replied to {{ post.data.to }}">
          {% assetIcon "reply" %}
          Replied to {{ post.data.to }}
        </a>
      </h2>
      <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
    </article>

    {% else %}
      <article class="note h-entry hentry">
        <h2 class="p-name">
          <a class="post-link u-url" rel="bookmark" href="{{ post.url }}" title="Continue to read {{ post.data.title }}">
            {% assetIcon "unknown" %}
            <time class="postlist-date dt-published" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateLongDate }}</time>
            Noodled about {{ post.data.title }}
          </a>
        </h2>
      </article>
    {% endif %}

  {%- endfor -%}

</div><!-- .post-list-content -->

<section class="pagination">
  <div class="pagination--content">
    <nav id="post--pagination" class="post--pagination" aria-labelledby="post--pagination">
      <div class="previous-posts">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" title="Head to the future">« Newer Posts</a>
        {% endif %}
      </div><!-- .previous-posts -->
      <div class="next-posts">
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" title="Go back in time">Older Posts »</a>
        {% endif %}
      </div><!-- .next-posts -->
    </nav><!-- .post-pagination -->
  </div><!-- .pagination-content -->
</section><!-- .pagination -->
