---
pagination:
  data: collections.all
  size: 1
  alias: post
permalink: "ogi/{{ post.url }}/"
---
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/screen.css" />
    <style>
      body {
        background-color: var(--main-color-background);
        color: var(--main-color-primary);
        display: block;
        margin: 0 auto;
      }

      .box {
        width: 1200px;
        height: 630px;
        position: relative;
      }

      .post-image img {
        width: 100%;
        object-fit: cover;
        object-position: 90% 50%;
        margin: 0 auto;
      }

      .title {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 5em;
        max-width: 1000px;
        max-height: 560px;
        text-align: right;
        background: rgba(245,245,245,0.9);
        padding: 25px 50px;
      }

      .url {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 3em;
        background: rgba(245,245,245,0.9);
        padding: 25px 50px;
      }

      .avatar {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 200px;
        height: 200px;
        border-radius: 150px;
        object-fit: cover;
        object-position: 90% 50%;
        border: 4px solid var(--main-color-primary);
        filter: drop-shadow(20px 20px 25px rgba(0, 0, 0, 0.1)) !important;
      }

    </style>
  </head>
  <body>
    <div class="box">
      <h2 class="title">{{ post.data.title }}</h2>
      {% if post.data.cover %}
        <div class="post-image">
          <img src="{{ post.data.cover }}" alt="{{ post.title }}" />
        </div><!-- .post-image -->
      {% endif %}
      <img src="/assets/images/headshot.jpeg" alt="Adam Chamberlin" class="avatar" />
      <p class="url">{{ metadata.url }}</p>
    </div>
  </body>


</html>
