---
layout: page.liquid
eleventyExcludeFromCollections: true
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  filter:
    - page
  generatePageOnEmptyData: true
permalink: '/tagged/{{ tag | slugify }}/'
eleventyComputed:
  title: 'Tagged: {{ tag }}'
  description: "Archive page for the tag '{{ tag }}'"
  subhead: 'These are all the posts that have been tagged with "{{ tag }}"'
---
<div class="archive--list">
  <div class="h-feed">
    <ul class="archive--feed">
      {%- for entry in collections[tag] reversed -%}
        <li class="h-entry">
          <time class="dt-published" datetime="{{ entry.date }}">
            {{ entry.date | dateLongDate }}
          </time> - <a class="p-name" href="{{ entry.url }}">{{ entry.data.title }}</a>
        </li>
      {%- endfor -%}
  </ul>
</div>
