---
layout: page.liquid
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  generatePageOnEmptyData: true
permalink: "tagged/{{ tag | slugify }}/"
noindex: true
eleventyComputed:
  title: "Tagged: {{ tag }}"
  description: "Archive page for the tag '{{ tag }}'"
  tagline: These are all the posts that have been tagged with "{{ tag }}"
---
<div class="archive-list">
  <ul>
  {%- for post in collections.tagList[tag] reversed -%}
    <li class="post">
      <a href="{{ post.url }}" title="Read post" class="post-link">
        {{ post.data.title }}
      </a>
      <div class="post-date">
        - <time class="postlist-date" datetime="{{ post.date | dateHtmlString }}">{{ post.date | dateReadable }}</time>
      </div>
    </li>
  {%- endfor -%}
  </ul>
</div>
